{% load staticfiles %}
<html>
<head>
<style type = "text/css">
body{
    text-decoration:none;
    font-family: 'Exo',sans-serif;
}
#site_title_bar , #footer{
	/*width: 1100px;*/
	height: 40px;
	margin-top:-10px;
	margin-left:-10px;
	text-align: left;
 
	/*For making content unselectable*/	
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
   background:#04caa9;
}

</style>
</head>
<body>
<div id = "site_title_bar">
</div>

<div style="margin-left:5px;">
<br/>

<a href = "/" style = ""> <image src = "{% static 'images/logo.png' %}" width = 180px height = 50px/></image></a><br/><br/><br/>
{% block title %}Password reset initiated{% endblock %}

{% block content %}
<p>We've e-mailed instructions for setting password to the e-mail address you submitted.</p>
<p>The user should be receiving it shortly.</p>
{% endblock %}
</div>
</body>
</html>
