{% load staticfiles %}
<html>
<head>
<style type = "text/css">
body{
    text-decoration:none;
    font-family: 'Exo',sans-serif;
}
#site_title_bar , #footer{
	/*width: 1100px;*/
	height: 40px;
	margin-top:-10px;
	margin-left:-10px;
	text-align: left;
 
	/*For making content unselectable*/	
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
   background:#04caa9;
}

</style>
</head>
<body>
<div id = "site_title_bar">
</div>
<div style="margin-left:5px;">
<br/>
<a href = "/" style = ""> <image src = "{% static 'images/logo.png' %}" width = 180px height = 50px/></image></a><br/><br/><br/>
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter new password twice.<br />
           So that it can be verified that you typed it in correctly.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please try password reset again.</p>
    {% endif %}
{% endblock %}
</div>
</body>
</html>
