<div ng-controller="Footer">
<div class="loading" ><div class="loading-img"><img src="images/loading.gif"></div></div>
<div class="clr">&nbsp;</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2"><a ng-click="footerLogo()" ><img class="img-responsive" src="images/logo-grey.png" width="170" alt="Healora"/></a></div>
      <div class="col-md-4 pl50"> <span><b>Address: </b>Los Angeles, California</span><br />
        <span><b>Email: </b>help@healora.com</span> </div>
      <div class="col-md-6">


    <!-- PAYPAL BUTTON -->
      <div id="paypal-button"></div>

        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="footLink('home')">HOME</a></li>
          <li><a ng-click="footLink('about')">ABOUT US</a></li>
          <li><a ng-click="footLink('procedure')">PROCEDURES</a></li>
          <li><a ng-click="footLink('faq')">FAQ</a></li>
          <li><a ng-click="footLink('healthtalks')">BLOG</a></li>
          <!-- <li><a ng-click="footLink('jobs')">JOBS</a></li> -->
          <li><a ng-click="footLink('contact')">CONTACT</a></li>



        </ul>
      </div>
    </div>
<br>

  <div class="row text-center">&copy; Copyright 2018 Healora.</div>

  </div>
</div>
</div>