<div ng-controller="Header">
  <header class="header-area fixed-menu-bg">
   <!-- <nav class="main-nav navbar navbar-expand-lg  header2">
      <div class="container">
        <h1><a class="navbar-brand kash-logo" ng-click="logoClick()"> <img class="img-responsive" src="images/healora-logo1.png" width="170" alt="abokash"></a> </h1>
    
        <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse"
                      data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span> </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul id="navScrollspy" class="navbar-nav pull-right mtm5">
            <li class="nav-item"><a href="#/home" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="#/about" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="#/category" class="nav-link">Procedure</a></li>

            <li class="nav-item" ng-if="!name" ><a href="#/register" class="nav-link">Register</a></li>
            <li class="nav-item dropdown" ng-if="name"><a class="dropdown-toggle" data-toggle="dropdown"  href="" class="nav-link">Hello, {{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li class="nav-item" ng-click="logout()" ng-if="name"><a class="nav-link">Logout</a></li>
                 <li class="nav-item" ng-if="name"><a href="#/history" class="nav-link">History</a></li>
              </ul>
            </li>

            </li>
           
          </ul>
        </div>
      </div>
    </nav> -->
	
	
	
	
	
	
	
	
	
	<nav class="main-nav navbar navbar-expand-lg header2 navbar navbar-default role = "navigation">
      <div class="container">
       
       
	   <div class = "navbar-header">
         <button type = "button" class = "navbar-toggle" 
			 data-toggle = "collapse" data-target = "#example-navbar-collapse">
			 <span class = "sr-only">Toggle navigation</span>
			 <span class = "icon-bar"></span>
			 <span class = "icon-bar"></span>
			 <span class = "icon-bar"></span>
		  </button>
					  
					  
					  
					   <h1><a class="navbar-brand kash-logo" ng-click="logoClick()"> <img class="img-responsive" src="images/healora-logo1.png" width="170" alt="abokash"></a> </h1>
					  
					  </div>

        <div class="collapse navbar-collapse justify-content-end" id = "example-navbar-collapse">
          
          <ul id="navScrollspy" class="navbar-nav pull-right mt10 res-float res-padding">
            <li class="nav-item"><a ng-click="headLink('home')" class="nav-link active">Home</a></li>
            <li class="nav-item"><a ng-click="headLink('about')" class="nav-link">About Us</a></li>
            <li class="nav-item"><a ng-click="headLink('procedure')" class="nav-link">Procedure</a></li>
            <li class="nav-item" ng-if="!name" ><a ng-click="headLink('register')" class="nav-link">Register</a></li>
            <li class="nav-item provider-header ng-if="!name" ><a ng-click="headLink('provider-register')" class="nav-link">Providers</a></li>
            <li class="nav-item dropdown" ng-if="Doc==0" ng-if="name" ><a class="dropdown-toggle" data-toggle="dropdown"  href="" class="nav-link">Hello, {{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li class="nav-item" ng-click="edit()" ng-if="name"><a class="nav-link">Edit Profile</a></li>
                 <li class="nav-item" ng-click="logout()" ng-if="name"><a class="nav-link">Logout</a></li>
                 <li class="nav-item" ng-if="name"><a ng-click="headLink('history')" class="nav-link">History</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item" ng-if="!name" ><a ng-click="headLink('docRegister')" class="nav-link">Practitioner Registration</a></li>
            <li class="nav-item dropdown" ng-if="Doc==1" ng-if="name" ><a class="dropdown-toggle" data-toggle="dropdown"  href="" class="nav-link">Hello, DR. {{name}}({{degree}}) <span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li class="nav-item" ng-click="logout()" ng-if="name"><a class="nav-link">Logout</a></li>
                  <li class="nav-item" ng-if="name"><a ng-click="headLink('history')" class="nav-link">History</a></li> 
              </ul>
            </li> -->
           
          </ul>
        </div>
      </div>
    </nav>
	
	
	
	
	
	
  </header>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74795947-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74795947-1');
</script>
</div>
