{% extends 'includes/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="pull-left">
            Appointment Details # ID:{{scheduleObj.pk}}
        </h1>
        {% if emailStatus == 0%}
        <button class="pull-right btn btn-default send-bt" id="sendmail" onclick="sendmail()" >Send <i class="fa fa-arrow-circle-right"></i></button>
        {% endif %}
        <!-- {% if scheduleObj.status == 1%}
        <a class="pull-right btn btn-danger btn-sm detail-butoon " onclick="return confirm('Are you sure?')" href="/appointment/cancel/{{scheduleObj.pk}}">Cancel Appointment</a>
        {% endif %}
        {% if prescription != '' %}
            <a class="pull-right btn btn-danger btn-sm detail-butoon mR10" onclick="return confirm('Are you sure?')" href="/appointment/deleteRx/{{scheduleObj.pk}}">Delete Rx</a>
        {% endif %}
        {% if transObj.status < 2 and transObj.amount > '0' %}
            <a class="pull-right btn btn-danger btn-sm detail-butoon mR10" onclick="return confirm('Are you sure?')" href="/appointment/refund/{{scheduleObj.pk}}">Initiate Refund</a>
        {% endif %}
        {% if  prescription.prescription_pdf != None %}
            <a class="pull-right btn btn-danger btn-sm detail-butoon " target="_blank" href="{{ prescription.prescription_pdf }}">View Pdf</a>
        {% endif %} -->
        <!--<div>&nbsp;<div>    -->

          
  
 
   
  </section>
      <!-- Main content -->
      <section class="content">
    
    <div class="row">
      <div class="col-xs-12">
      {% if flash.error %}
        <!-- There's a flash-scoped object under the 'message' key -->
         
       <div class="alert alert-danger alert-dismissable">
            <p>{{ flash.error }}</p>
        </div>
      {% endif %}
      {% if flash.success %}
        <!-- There's a flash-scoped object under the 'message' key -->

       <div class="alert alert-success alert-dismissable">
            <p>{{ flash.success }}</p>
        </div>
      {% endif %}

        <div class="box">
         <div class="box-header">
             <div style="clear:both"></div>
                <table class="detail-view">
                    <tr><th>Email From :</th><td>{{emailFrom}}</td></tr>
                    <tr><th>Subject :</th><td>{{subject}}</td></tr>
                    <tr><th>Date :</th><td> {{ emailDate }} </td></tr>
                    <tr><th>Name :</th><td> User </td></tr>
                    <tr><th>Status :</th><td>{{emailStatus}}</td></tr>
                    <tr><th>Category :</th><td>{{emailCategory}}</td></tr>
                    <tr><th>Body :</th><td>{{emailBody}}</td></tr>
                    
                </table>
                <h3 class="tablehd">Response Email Details</h3>
                  <table class="detail-view">
                    <tr><th>To</th>
                      <td>
                      {{emailFrom}}
                      </td>
                    </tr>
                    {% if emailStatus == 0%}
                    <tr><th>Template</th><td><textarea name="suggestemail" id="suggestemail" rows="20" cols="100">{{responseBody}}</textarea></td></tr>
                    <tr><th>Comments</th><td><textarea name="comments" id="comments" rows="2" cols="100"></textarea></td></tr>
                    {% endif %}
                    {% if emailStatus == 1%}
                    <tr><th>Responce :</th><td>{{responseBody}}</td></tr>
                    {% endif %}
                  </table>

               


         </div>
        </div><!-- /.box -->
      </div>
    </div>
    </section>
      <!-- /.content -->





<script type="application/javascript">
  function sendmail(){
     var sendcontent=JSON.stringify(document.getElementById('suggestemail').value);
     var sendtoemail='{{emailFrom}}';
     var sendsubject='{{subject}}';
     var pk='{{pk}}';
     var comments=document.getElementById('comments').value;
     
//     alert('af');
     // var newdoc=document.getElementById('document').value;
     var newdoc = ""
//     alert(document);
     var parameters = {"pk":pk,"comments":comments,"content":sendcontent,"sendtoemail":sendtoemail,"sendsubject":sendsubject,"verified":1,"document":newdoc};
     $.ajax({
            url: "/functions/sendEmail",
            method: "POST",
            data: JSON.stringify(parameters),
            beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
            }, 
            success: function(response) {
                    response=JSON.parse(response);
                    if (response.status){
                      alert("Mail Sent - Click On Dashboard & Select Next Case.")  
                    }else{
                      alert("Something went wrong. Pleae try after some time.")  
                    }
                    
                    
                }
            });
     
 }

</script>

  <!-- /.content-wrapper -->
{% endblock %}