{% extends 'includes/base.html' %}
{% block title %}Dashboard | Admin{% endblock %}
{% load staticfiles %}


{% block content %}

<style type="text/css">
    td {
    text-align: center;
    border: 1px solid #ccc !important;
    }
    th {
    text-align: center;
    border: 1px solid #333 !important;
    box-shadow: none !important;
    }
    #legend ul {
    list-style: none;
    }
    #legend ul li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    }
    #legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 75%;
    border-radius: 2px;
    }
    #legend1 ul {
    list-style: none;
    }
    #legend1 ul li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 2px ;
    padding: 2px 8px 2px 28px;
    font-size: 12px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    }
    #legend1 li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 75%;
    border-radius: 2px;
    }
    #chart-area > *{
    float:left
    }
</style>

    <section class="content-header">
    <h1 class="pull-left">
        Order Details # ID:MF4ME
    </h1>

</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            
            

            <div class="box">
                <div class="box-header">
                    <div style="clear:both"></div>
                    <table class="detail-view">
                        <tr><th>Order ID :</th><td> {{ order_id }} </td></tr>
                        <tr><th>User Name :</th><td>{{ username }} </td></tr>
                        <!-- <tr><th>Vendor Name :</th><td></td></tr> -->
                        <tr><th>Order Date :</th><td> {{ order_date }} </td></tr>
                        <tr><th>Commemts</th><td>{{comments}} </td></tr>
                        <tr><th>Total Amount</th><td>{{ total_amount }}</td></tr>
                        <tr><th>Reserve Price</th><td> {{ reserve_price }} </td></tr>
                        <tr><th>Balance</th><td>{{ balance }} </td></tr>
                        <tr><th>Procedure</th><td>{{ procedure }} </td></tr>
                    </table>

                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>
      <!-- /.content -->
  
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

 
{% endblock %}
