<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Pages - Admin Dashboard UI Kit - Email</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
<script src="http://pages.revox.io/cdn-cgi/apps/head/vAzQ3pO_LVF9Y_-CSxLP87NslSA.js"></script><link rel="apple-touch-icon" href="pages/ico/60.png">
<link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
<link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
<link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta content="" name="description" />
<meta content="" name="author" />
<link href="static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/jquery-menuclipper/jquery.menuclipper.css" rel="stylesheet" type="text/css" />
<link href="static/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
<link class="main-stylesheet" href="static/pages/css/pages.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="static/pages/css/custom.css" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-header ">
{% extends 'body.html' %}
{%block b%}


<div class="page-content-wrapper full-height">

<div class="content full-height">


<nav class="secondary-sidebar">
<div class=" m-b-30 m-l-30 m-r-30 hidden-sm-down">
<a href="email_compose.html" class="btn btn-complete btn-block btn-compose">Compose</a>
</div>
<p class="menu-title">BROWSE</p>
<ul class="main-menu">
<li class="active">
<a href="#">
<span class="title"><i class="pg-inbox"></i> Inbox</span>
<span class="badge pull-right">5</span>
</a>
</li>
<li class="">
<a href="#">
<span class="title"><i class="pg-folder"></i> All mail</span>
</a>
<ul class="sub-menu no-padding">
<li>
<a href="#">
<span class="title">Important</span>
</a>
</li>
<li>
<a href="#">
<span class="title">Labeled</span>
</a>
</li>
</ul>
</li>
<li>
<a href="#">
<span class="title"><i class="pg-sent"></i> Sent</span>
</a>
</li>
<li>
<a href="#">
<span class="title"><i class="pg-sent"></i> Outbox/Need Review</span>
</a>
</li>
<li>
<a href="#">
<span class="title"><i class="pg-spam"></i> Spam</span>
<span class="badge pull-right">10</span>
</a>
</li>
</ul>
<p class="menu-title m-t-20 all-caps">Quick view</p>
<ul class="sub-menu no-padding">
<li>
<a href="#">
<span class="title">Documents</span>
</a>
</li>
<li>
<a href="#">
<span class="title">Flagged</span>
<span class="badge pull-right">5</span>
</a>
</li>
<li>
<a href="#">
<span class="title">Images</span>
</a>
</li>
</ul>
</nav>

<div class="inner-content full-height">
<div class="split-view">

<div class="split-list">
<a class="list-refresh" href="#"><i class="fa fa-refresh"></i></a>
<div data-email="list" class="boreded no-top-border list-view"><h2 class="list-view-fake-header">Yesterday April 22 </h2>


<div class="list-view-wrapper" data-ios="false"><div class="list-view-group-container list-view-animated"><ul class="no-padding"><li class="item padding-15 active" data-email-id="1">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-0-0">                                     <label for="emailcheckbox-0-0"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">David Nester,Jane Smith</p>                                     <p class="subject no-margin">Pages - Multi-Purpose Admin Template Revolution Begins here!</p>                                     <p class="body no-margin">                                      Dear Sir or Madam:I have recently ordered a new pair of soccer cleats (item #6542951) from your website on June 21. I received the order on June 26. Unfortunately, when I opened it, I saw that the cleats were used. The cleats had dirt all over it and there was a small tear in front of the part where the left toe would go.  My order number is AF26168156.To resolve the problem, I would like you to credit my account for the amount charged for my cleats; I have already went out and bought a new pair of cleats at my local sporting goods store so sending another would result in me having two pairs of the same cleats.Than you for taking the time to read this letter.  I have been a satisfied customer of your company for many years and this is the first time I have encountered a problem.  If you need to contact me, you can reach me at (555) 555-5555.Sincerely,Signature                                      </p>                                 </div>                                 <div class="datetime">5 Mins ago</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="2">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/5x.jpg" data-src="static/assets/img/profiles/5.jpg" src="static/assets/img/profiles/5x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-0-1">                                     <label for="emailcheckbox-0-1"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">Anne Simons</p>                                     <p class="subject no-margin">Your site has some very imaginative animation /movement, especially the Sluggo! </p>                                     <p class="body no-margin">                                      Dear Kristen:I saw your listing on Craigslist.com for a website designer for your tee-shirt company. I'm attaching my resume even though it doesn't list my extensive tee-shirt folding experience. :)Your site has some very imaginative animation/movement, especially the Sluggo! I look forward to talking with you about how I may be of help.Lillian Black                                      </p>                                 </div>                                 <div class="datetime">45 mins ago</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="3">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/a2x.jpg" data-src="static/assets/img/profiles/a.jpg" src="static/assets/img/profiles/a2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-0-2">                                     <label for="emailcheckbox-0-2"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">Herald Menster</p>                                     <p class="subject no-margin">Recently ordered a new pair of soccer cleats from your website on June 21</p>                                     <p class="body no-margin">                                      Dear Colleagues:As some of you may already be aware, I will be leaving my job at Acme Corp shortly.  My last day will be next Friday.  I have come across a new opportunity that I could just not pass up.I would like to thank all of you for your support during my tenure here at Acme Corp.  I have learned a great deal here and will definetly miss all of you.  I especially enjoyed the afternoon talks by the water cooler.I would love to keep in touch with you; I can reach me at my personal e-mail address at roger@email.com.Sincerely,Roger WilliamsonSenior Compliance Analyst                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="4">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/9x.jpg" data-src="static/assets/img/profiles/9.jpg" src="static/assets/img/profiles/9x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-0-3">                                     <label for="emailcheckbox-0-3"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe</p>                                     <p class="subject no-margin">Everything here, Made Just for you :)</p>                                     <p class="body no-margin">                                      Dear Ms. Hillman,Thank you for spending such quality time with me yesterday. I especially enjoyed hearing about your business goals for the next five years, and found myself sharing your vision of 32 new branches in New York by 2011.One point I forgot to mention when we spoke: I worked closely with my current supervisor to develop the training program now used in all new Eureka Savings offices nationwide.I appreciate you giving me your direct phone number. I’ll call you in two weeks, as you suggested, once your applicant review is completed.                                       </p>                                 </div>                                 <div class="datetime">11:23am</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="5">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/ba2x.jpg" data-src="static/assets/img/profiles/ba.jpg" src="static/assets/img/profiles/ba2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-0-4">                                     <label for="emailcheckbox-0-4"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Simplicity is the ultimate sophistication</p>                                     <p class="body no-margin">                                       A man's favorite donkey falls into a deep precipice; He can't pull it out no matter how hard he tries; He therefore decides to bury it alive. Soil is poured onto the donkey from above. The donkey feels the load, shakes it off, and steps on it; More soil is poured. It shakes it off and steps up; The more the load was poured, the higher it rose; By noon, the donkey was grazing in green pastures. After much shaking off (of problems) And stepping up (learning from them), One will graze in GREEN PASTURES.                                      </p>                                 </div>                                 <div class="datetime">10:33pm</div>                                 <div class="clearfix"></div>                             </li></ul></div>
<div class="list-view-group-container1 list-view-animated">
<ul class="no-padding"><li class="item padding-15" data-email-id="6">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/b2x.jpg" data-src="static/assets/img/profiles/b.jpg" src="static/assets/img/profiles/b2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-1-0">                                     <label for="emailcheckbox-1-0"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Good design is obvious. Great design is transparent</p>                                     <p class="body no-margin">                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales, velit at laoreet hendrerit, tellus dui aliquet est, ac cursus velit erat et est. Quisque vitae tortor nibh. Aliquam ornare, augue ac pulvinar euismod, mi felis cursus nisl, non ultrices lacus turpis sit amet lacus. Vestibulum in lacus ut augue tincidunt lobortis id quis mauris. Morbi at fringilla lectus, non consectetur ante. Duis eleifend quis eros eu vulputate. Praesent sit amet dolor eros. Ut aliquam eros sed ante facilisis, ac venenatis diam feugiat.Phasellus est massa, luctus eget volutpat id, semper nec elit. Nam ligula nunc, pharetra ac sodales porta, consectetur in est. Suspendisse mauris mauris, sagittis eu tristique ac, lacinia sed nisl. Nulla ut eros ac erat dignissim pellentesque sit amet ut tellus. Nunc at risus sed lacus commodo fringilla. Curabitur laoreet condimentum facilisis. Donec eget pellentesque massa.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="7">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/5x.jpg" data-src="static/assets/img/profiles/5.jpg" src="static/assets/img/profiles/5x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-1-1">                                     <label for="emailcheckbox-1-1"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">Anne Simons</p>                                     <p class="subject no-margin">Your site has some very imaginative animation /movement, especially the Sluggo! </p>                                     <p class="body no-margin">                                      Dear Kristen:I saw your listing on Craigslist.com for a website designer for your tee-shirt company. I'm attaching my resume even though it doesn't list my extensive tee-shirt folding experience. :)Your site has some very imaginative animation/movement, especially the Sluggo! I look forward to talking with you about how I may be of help.Lillian Black                                      </p>                                 </div>                                 <div class="datetime">45 mins ago</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="8">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-1-2">                                     <label for="emailcheckbox-1-2"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                       Morbi mauris dui, sollicitudin ut ipsum nec, porta malesuada justo. In eget tempor lacus. In dapibus, mi id tempor mattis, orci dolor hendrerit mauris, a aliquam purus tellus id ipsum. Praesent id turpis metus. Mauris tempus nulla et magna euismod, pharetra sodales turpis sagittis. In ultricies erat turpis, sit amet venenatis elit malesuada eget. Quisque sodales ante mauris, eget tempus mauris molestie vel. In tristique augue sed quam dignissim, tempor facilisis neque malesuada. In sagittis placerat lectus, nec mattis felis aliquam eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae rutrum nibh. Maecenas scelerisque risus mauris, in ullamcorper nulla cursus ut. Integer a pharetra elit, vel pellentesque lectus. Ut erat tortor, euismod vel massa non, fringilla auctor neque.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="9">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-1-3">                                     <label for="emailcheckbox-1-3"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                       Donec metus ligula, cursus ut auctor ac, faucibus et eros. Mauris nec adipiscing purus, sollicitudin fermentum nunc. Nullam et elementum lectus. Duis lobortis commodo tellus quis rutrum. In sed interdum mauris. Vestibulum interdum dolor porta nisl faucibus, vitae convallis nisi hendrerit. Donec lacinia mauris nec erat elementum, adipiscing consectetur lorem egestas. Vivamus condimentum odio vel imperdiet sagittis.                                       </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="10">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-1-4">                                     <label for="emailcheckbox-1-4"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales, velit at laoreet hendrerit, tellus dui aliquet est, ac cursus velit erat et est. Quisque vitae tortor nibh. Aliquam ornare, augue ac pulvinar euismod, mi felis cursus nisl, non ultrices lacus turpis sit amet lacus. Vestibulum in lacus ut augue tincidunt lobortis id quis mauris. Morbi at fringilla lectus, non consectetur ante. Duis eleifend quis eros eu vulputate. Praesent sit amet dolor eros. Ut aliquam eros sed ante facilisis, ac venenatis diam feugiat.Phasellus est massa, luctus eget volutpat id, semper nec elit. Nam ligula nunc, pharetra ac sodales porta, consectetur in est. Suspendisse mauris mauris, sagittis eu tristique ac, lacinia sed nisl. Nulla ut eros ac erat dignissim pellentesque sit amet ut tellus. Nunc at risus sed lacus commodo fringilla. Curabitur laoreet condimentum facilisis. Donec eget pellentesque massa.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li></ul></div>
<div class="list-view-group-container1">
<ul class="no-padding"><li class="item padding-15" data-email-id="11">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/b2x.jpg" data-src="static/assets/img/profiles/b.jpg" src="static/assets/img/profiles/b2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-2-0">                                     <label for="emailcheckbox-2-0"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales, velit at laoreet hendrerit, tellus dui aliquet est, ac cursus velit erat et est. Quisque vitae tortor nibh. Aliquam ornare, augue ac pulvinar euismod, mi felis cursus nisl, non ultrices lacus turpis sit amet lacus. Vestibulum in lacus ut augue tincidunt lobortis id quis mauris. Morbi at fringilla lectus, non consectetur ante. Duis eleifend quis eros eu vulputate. Praesent sit amet dolor eros. Ut aliquam eros sed ante facilisis, ac venenatis diam feugiat.Phasellus est massa, luctus eget volutpat id, semper nec elit. Nam ligula nunc, pharetra ac sodales porta, consectetur in est. Suspendisse mauris mauris, sagittis eu tristique ac, lacinia sed nisl. Nulla ut eros ac erat dignissim pellentesque sit amet ut tellus. Nunc at risus sed lacus commodo fringilla. Curabitur laoreet condimentum facilisis. Donec eget pellentesque massa.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="12">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-2-1">                                     <label for="emailcheckbox-2-1"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                      Aliquam est tellus, fringilla egestas fermentum quis, venenatis eu massa. Curabitur aliquet id metus a molestie. Phasellus porta, tellus id tempor condimentum, risus risus ullamcorper augue, in cursus libero enim sit amet purus. Vivamus nunc turpis, auctor quis consequat vitae, eleifend vitae risus. Vivamus vel facilisis lacus, nec semper felis. Aenean suscipit eget magna id ullamcorper. Ut dignissim in ligula eu accumsan. Donec tempus pretium leo aliquet pharetra. Etiam neque metus, varius non velit sit amet, consequat cursus dolor. Praesent leo odio, iaculis a quam at, venenatis adipiscing neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nibh nec urna laoreet mollis. Nullam pharetra, tortor quis dignissim vulputate, ante elit viverra quam, nec congue diam tellus vel sem. Morbi aliquam tincidunt enim sit amet venenatis. Nulla ut est pharetra enim varius tempor.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="13">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-2-2">                                     <label for="emailcheckbox-2-2"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                       Morbi mauris dui, sollicitudin ut ipsum nec, porta malesuada justo. In eget tempor lacus. In dapibus, mi id tempor mattis, orci dolor hendrerit mauris, a aliquam purus tellus id ipsum. Praesent id turpis metus. Mauris tempus nulla et magna euismod, pharetra sodales turpis sagittis. In ultricies erat turpis, sit amet venenatis elit malesuada eget. Quisque sodales ante mauris, eget tempus mauris molestie vel. In tristique augue sed quam dignissim, tempor facilisis neque malesuada. In sagittis placerat lectus, nec mattis felis aliquam eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae rutrum nibh. Maecenas scelerisque risus mauris, in ullamcorper nulla cursus ut. Integer a pharetra elit, vel pellentesque lectus. Ut erat tortor, euismod vel massa non, fringilla auctor neque.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="14">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-2-3">                                     <label for="emailcheckbox-2-3"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                       Donec metus ligula, cursus ut auctor ac, faucibus et eros. Mauris nec adipiscing purus, sollicitudin fermentum nunc. Nullam et elementum lectus. Duis lobortis commodo tellus quis rutrum. In sed interdum mauris. Vestibulum interdum dolor porta nisl faucibus, vitae convallis nisi hendrerit. Donec lacinia mauris nec erat elementum, adipiscing consectetur lorem egestas. Vivamus condimentum odio vel imperdiet sagittis.                                       </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li><li class="item padding-15" data-email-id="15">                                 <div class="thumbnail-wrapper d32 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>                                 <div class="checkbox  no-margin p-l-10">                                     <input type="checkbox" value="1" id="emailcheckbox-2-4">                                     <label for="emailcheckbox-2-4"></label>                                 </div>                                 <div class="inline m-l-15">                                     <p class="recipients no-margin hint-text small">John Doe,Anne Simons</p>                                     <p class="subject no-margin">Aliquam est tellus, fringilla egestas fermentum quis</p>                                     <p class="body no-margin">                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales, velit at laoreet hendrerit, tellus dui aliquet est, ac cursus velit erat et est. Quisque vitae tortor nibh. Aliquam ornare, augue ac pulvinar euismod, mi felis cursus nisl, non ultrices lacus turpis sit amet lacus. Vestibulum in lacus ut augue tincidunt lobortis id quis mauris. Morbi at fringilla lectus, non consectetur ante. Duis eleifend quis eros eu vulputate. Praesent sit amet dolor eros. Ut aliquam eros sed ante facilisis, ac venenatis diam feugiat.Phasellus est massa, luctus eget volutpat id, semper nec elit. Nam ligula nunc, pharetra ac sodales porta, consectetur in est. Suspendisse mauris mauris, sagittis eu tristique ac, lacinia sed nisl. Nulla ut eros ac erat dignissim pellentesque sit amet ut tellus. Nunc at risus sed lacus commodo fringilla. Curabitur laoreet condimentum facilisis. Donec eget pellentesque massa.                                      </p>                                 </div>                                 <div class="datetime">1:33pm</div>                                 <div class="clearfix"></div>                             </li></ul></div></div></div>
</div>


<div data-email="opened" class="split-details">
<div class="no-result" style="display: none;">
<h1>No email has been selected</h1>
</div>
<div class="email-content-wrapper" style="">
<div class="actions-wrapper menuclipper bg-master-lightest">
<ul class="actions menuclipper-menu no-margin p-l-20 ">
<li class="hidden-lg-up">
<a href="#" class="split-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes</a>
</li>
<li class="no-padding"><a href="#" class="text-info">Reply</a>
</li>
<li class="no-padding"><a href="#">Reply all</a>
</li>
<li class="no-padding"><a href="#">Forward</a>
</li>
<li class="no-padding"><a href="#">Mark as read</a>
</li>
<li class="no-padding"><a href="#" class="text-danger">Delete</a>
</li>
</ul>
<div class="clearfix"></div>
</div>
<div class="email-content">
<div class="email-content-header">
<div class="thumbnail-wrapper d48 circular">                                     <img width="40" height="40" alt="" data-src-retina="static/assets/img/profiles/avatar2x.jpg" data-src="static/assets/img/profiles/avatar.jpg" src="static/assets/img/profiles/avatar2x.jpg">                                 </div>
<div class="sender inline m-l-10">
<p class="name no-margin bold">David Nester</p>
<p class="datetime no-margin">Today at 1:33pm</p>
</div>
<div class="clearfix"></div>
<div class="subject m-t-20 m-b-20 semi-bold">Pages - Multi-Purpose Admin Template Revolution Begins here!</div>
<div class="fromto">
<div class="pull-left">
<div class="btn-group dropdown-default">
<a class="btn dropdown-toggle btn-small btn-rounded" data-toggle="dropdown" href="#">
David Nester
</a>
<div class="dropdown-menu" style="width: 150px;">
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Friend</a>
<a class="dropdown-item" href="#">Report</a>
</div>
</div>
<label class="inline">
<span class="muted">&nbsp;&nbsp;to</span>
<span class=" small-text">johnsmith@skyace.com</span>
</label>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="email-content-body m-t-20"><p>Dear Sir or Madam:<br></p><p><br>I have recently ordered a new pair of soccer cleats (item #6542951) from your website on June 21. I received the order on June 26. Unfortunately, when I opened it, I saw that the cleats were used. The cleats had dirt all over it and there was a small tear in front of the part where the left toe would go.  My order number is AF26168156.<br></p><p><br>To resolve the problem, I would like you to credit my account for the amount charged for my cleats; I have already went out and bought a new pair of cleats at my local sporting goods store so sending another would result in me having two pairs of the same cleats.<br></p><p><br>Than you for taking the time to read this letter.  I have been a satisfied customer of your company for many years and this is the first time I have encountered a problem.  If you need to contact me, you can reach me at (555) 555-5555.<br><br><br><br>Sincerely,<br></p><p><br><i>Signature</i></p> </div>
<div class="wysiwyg5-wrapper b-a b-grey m-t-30">
<ul class="wysihtml5-toolbar" style=""><li class="dropdown dropup"><a data-toggle="dropdown" class="btn btn-default dropdown-toggle ">    <span class="glyphicon glyphicon-font"></span>    <span class="current-font">Normal text</span>    <b class="caret"></b>  </a><ul class="dropdown-menu">    <li><a tabindex="-1" data-wysihtml5-command-value="p" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Normal text</a></li>     <li><a tabindex="-1" data-wysihtml5-command-value="h1" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Heading 1</a></li>    <li><a tabindex="-1" data-wysihtml5-command-value="h2" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Heading 2</a></li>    <li><a tabindex="-1" data-wysihtml5-command-value="h3" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Heading 3</a></li>    <li><a tabindex="-1" data-wysihtml5-command-value="h4" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Heading 4</a></li>    <li><a tabindex="-1" data-wysihtml5-command-value="h5" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Heading 5</a></li>    <li><a tabindex="-1" data-wysihtml5-command-value="h6" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Heading 6</a></li>  </ul></li><li><div class="btn-group"><a tabindex="-1" title="CTRL+B" data-wysihtml5-command="bold" class="btn  btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-bold"></i></a><a tabindex="-1" title="CTRL+I" data-wysihtml5-command="italic" class="btn  btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-italic"></i></a><a tabindex="-1" title="CTRL+U" data-wysihtml5-command="underline" class="btn  btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-underline"></i></a></div></li><li><a tabindex="-1" data-wysihtml5-display-format-name="false" data-wysihtml5-command-value="blockquote" data-wysihtml5-command="formatBlock" class="btn  btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-quote"></i></a></li><li><div class="bootstrap-wysihtml5-insert-link-modal modal fade"><div class="modal-dialog "><div class="modal-content"><div class="modal-header"><a data-dismiss="modal" class="close">×</a><h3>Insert link</h3></div><div class="modal-body"><input class="bootstrap-wysihtml5-insert-link-url form-control" value="http://"><div class="checkbox check-success"> <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="checked" value="1" id="link-checkbox"> <label for="link-checkbox">Open link in new window</label></div></div><div class="modal-footer"><a data-dismiss="modal" class="btn btn-default">Cancel</a><a data-dismiss="modal" class="btn btn-primary" href="#">Insert link</a></div></div></div></div><a tabindex="-1" title="Insert link" data-wysihtml5-command="createLink" class="btn  btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-link"></i></a></li><li><div class="bootstrap-wysihtml5-insert-image-modal modal fade"><div class="modal-dialog "><div class="modal-content"><div class="modal-header"><a data-dismiss="modal" class="close">×</a><h3>Insert image</h3></div><div class="modal-body"><input class="bootstrap-wysihtml5-insert-image-url form-control" value="http://"></div><div class="modal-footer"><a data-dismiss="modal" class="btn btn-default">Cancel</a><a data-dismiss="modal" class="btn btn-primary">Insert image</a></div></div></div></div><a tabindex="-1" title="Insert image" data-wysihtml5-command="insertImage" class="btn  btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-image"></i></a></li></ul><textarea class="email-reply" placeholder="Reply" style="display: none;"></textarea><input type="hidden" name="_wysihtml5_mode" value="1"><iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true" frameborder="0" width="0" height="0" marginwidth="0" marginheight="0" style="background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(169, 169, 169); border-style: solid; border-width: 1px; clear: none; display: inline-block; float: none; margin: 0px; outline: rgb(0, 0, 0) none 0px; outline-offset: 0px; padding: 2px; position: static; z-index: auto; vertical-align: baseline; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 163px; height: 200px; top: auto; left: auto; right: auto; bottom: auto;"></iframe>
</div>
</div>
</div>
</div>


<div class="compose-wrapper hidden-md-up">
<a class="compose-email text-info pull-right m-r-10 m-t-10" href="email_compose.html"><i class="fa fa-pencil-square-o"></i></a>
</div>

</div>
</div>

</div>

</div>


<div id="quickview" class="quickview-wrapper" data-pages="quickview">

<ul class="nav nav-tabs">
<li class="" data-target="#quickview-notes" data-toggle="tab">
<a href="#">Notes</a>
</li>
<li data-target="#quickview-alerts" data-toggle="tab">
<a href="#">Alerts</a>
</li>
<li class="active" data-target="#quickview-chat" data-toggle="tab">
<a href="#">Chat</a>
</li>
</ul>
<a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>

<div class="tab-content">

<div class="tab-pane no-padding" id="quickview-notes">
<div class="view-port clearfix quickview-notes" id="note-views">

<div class="view list" id="quick-note-list">
<div class="toolbar clearfix">
<ul class="pull-right ">
<li>
<a href="#" class="delete-note-link"><i class="fa fa-trash-o"></i></a>
</li>
<li>
<a href="#" class="new-note-link" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-plus"></i></a>
</li>
</ul>
<button class="btn-remove-notes btn btn-xs btn-block hide"><i class="fa fa-times"></i> Delete</button>
</div>
<ul>

<li data-noteid="1">
<div class="left">

<div class="checkbox check-warning no-margin">
<input id="qncheckbox1" type="checkbox" value="1">
<label for="qncheckbox1"></label>
</div>


<p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

</div>

<div class="right pull-right">

<span class="date">12/12/14</span>
<a href="#" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-chevron-right"></i></a>

</div>

</li>


<li data-noteid="2">
<div class="left">

<div class="checkbox check-warning no-margin">
<input id="qncheckbox2" type="checkbox" value="1">
<label for="qncheckbox2"></label>
</div>


<p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

</div>

<div class="right pull-right">

<span class="date">12/12/14</span>
<a href="#"><i class="fa fa-chevron-right"></i></a>

</div>

</li>


<li data-noteid="2">
<div class="left">

<div class="checkbox check-warning no-margin">
<input id="qncheckbox3" type="checkbox" value="1">
<label for="qncheckbox3"></label>
</div>


<p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

</div>

<div class="right pull-right">

<span class="date">12/12/14</span>
<a href="#"><i class="fa fa-chevron-right"></i></a>

</div>

</li>


<li data-noteid="3">
<div class="left">

<div class="checkbox check-warning no-margin">
<input id="qncheckbox4" type="checkbox" value="1">
<label for="qncheckbox4"></label>
</div>


<p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

</div>

<div class="right pull-right">

<span class="date">12/12/14</span>
<a href="#"><i class="fa fa-chevron-right"></i></a>

</div>

</li>


<li data-noteid="4">
<div class="left">

<div class="checkbox check-warning no-margin">
<input id="qncheckbox5" type="checkbox" value="1">
<label for="qncheckbox5"></label>
</div>


<p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

</div>

<div class="right pull-right">

<span class="date">12/12/14</span>
<a href="#"><i class="fa fa-chevron-right"></i></a>

</div>

</li>

</ul>
</div>

<div class="view note" id="quick-note">
<div>
<ul class="toolbar">
<li><a href="#" class="close-note-link"><i class="pg-arrow_left"></i></a>
</li>
<li><a href="#" data-action="Bold" class="fs-12"><i class="fa fa-bold"></i></a>
</li>
<li><a href="#" data-action="Italic" class="fs-12"><i class="fa fa-italic"></i></a>
</li>
<li><a href="#" class="fs-12"><i class="fa fa-link"></i></a>
</li>
</ul>
<div class="body">
<div>
<div class="top">
<span>21st april 2014 2:13am</span>
</div>
<div class="content">
<div class="quick-note-editor full-width full-height js-input" contenteditable="true"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="tab-pane no-padding" id="quickview-alerts">
<div class="view-port clearfix" id="alerts">

<div class="view bg-white">

<div class="navbar navbar-default navbar-sm">
<div class="navbar-inner">

<a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<i class="pg-more"></i>
</a>

<div class="view-heading">
Notications
</div>

<a href="#" class="inline action p-r-10 pull-right link text-master">
<i class="pg-search"></i>
</a>

</div>
</div>


<div data-init-list-view="ioslist" class="list-view boreded no-top-border">

<div class="list-view-group-container">

<div class="list-view-group-header text-uppercase">
Calendar
</div>

<ul>

<li class="alert-list">

<a href="javascript:;" class="align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<p class="">
<span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
</p>
<p class="p-l-10 overflow-ellipsis fs-12">
<span class="text-master">David Nester Birthday</span>
</p>
<p class="p-r-10 ml-auto fs-12 text-right">
<span class="text-warning">Today <br></span>
<span class="text-master">All Day</span>
</p>
</a>


</li>


<li class="alert-list">

<a href="#" class="align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<p class="">
<span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
</p>
<p class="p-l-10 overflow-ellipsis fs-12">
<span class="text-master">Meeting at 2:30</span>
</p>
<p class="p-r-10 ml-auto fs-12 text-right">
<span class="text-warning">Today</span>
</p>
</a>

</li>

</ul>
</div>

<div class="list-view-group-container">

<div class="list-view-group-header text-uppercase">
Social
</div>

<ul>

<li class="alert-list">

<a href="javascript:;" class="p-t-10 p-b-10 align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<p class="">
<span class="text-complete fs-10"><i class="fa fa-circle"></i></span>
</p>
<p class="col overflow-ellipsis fs-12 p-l-10">
<span class="text-master link">Jame Smith commented on your status<br></span>
<span class="text-master">“Perfection Simplified - Company Revox"</span>
</p>
</a>

</li>


<li class="alert-list">

<a href="javascript:;" class="p-t-10 p-b-10 align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<p class="">
<span class="text-complete fs-10"><i class="fa fa-circle"></i></span>
</p>
<p class="col overflow-ellipsis fs-12 p-l-10">
<span class="text-master link">Jame Smith commented on your status<br></span>
<span class="text-master">“Perfection Simplified - Company Revox"</span>
</p>
</a>

</li>

</ul>
</div>
<div class="list-view-group-container">

<div class="list-view-group-header text-uppercase">
Sever Status
</div>

<ul>

<li class="alert-list">

<a href="#" class="p-t-10 p-b-10 align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<p class="">
<span class="text-danger fs-10"><i class="fa fa-circle"></i></span>
</p>
<p class="col overflow-ellipsis fs-12 p-l-10">
<span class="text-master link">12:13AM GTM, 10230, ID:WR174s<br></span>
<span class="text-master">Server Load Exceeted. Take action</span>
</p>
</a>

</li>

</ul>
</div>
</div>

</div>

</div>
</div>

<div class="tab-pane active no-padding" id="quickview-chat">
<div class="view-port clearfix" id="chat">
<div class="view bg-white">

<div class="navbar navbar-default">
<div class="navbar-inner">

<a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<i class="pg-plus"></i>
</a>

<div class="view-heading">
Chat List
<div class="fs-11">Show All</div>
</div>

<a href="#" class="inline action p-r-10 pull-right link text-master">
<i class="pg-more"></i>
</a>

</div>
</div>

<div data-init-list-view="ioslist" class="list-view boreded no-top-border">
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">
a</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/1x.jpg" data-src="static/assets/img/profiles/1.jpg" src="static/assets/img/profiles/1x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">ava flores</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">b</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">bella mccoy</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/3x.jpg" data-src="static/assets/img/profiles/3.jpg" src="static/assets/img/profiles/3x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">bob stephens</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">c</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/4x.jpg" data-src="static/assets/img/profiles/4.jpg" src="static/assets/img/profiles/4x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">carole roberts</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/5x.jpg" data-src="static/assets/img/profiles/5.jpg" src="static/assets/img/profiles/5x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">christopher perez</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">d</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/6x.jpg" data-src="static/assets/img/profiles/6.jpg" src="static/assets/img/profiles/6x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">danielle fletcher</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/7x.jpg" data-src="static/assets/img/profiles/7.jpg" src="static/assets/img/profiles/7x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">david sutton</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">e</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/8x.jpg" data-src="static/assets/img/profiles/8.jpg" src="static/assets/img/profiles/8x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">earl hamilton</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/9x.jpg" data-src="static/assets/img/profiles/9.jpg" src="static/assets/img/profiles/9x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">elaine lawrence</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/1x.jpg" data-src="static/assets/img/profiles/1.jpg" src="static/assets/img/profiles/1x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">ellen grant</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">erik taylor</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/3x.jpg" data-src="static/assets/img/profiles/3.jpg" src="static/assets/img/profiles/3x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">everett wagner</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">f</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/4x.jpg" data-src="static/assets/img/profiles/4.jpg" src="static/assets/img/profiles/4x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">freddie gomez</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">g</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/5x.jpg" data-src="static/assets/img/profiles/5.jpg" src="static/assets/img/profiles/5x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">glen jensen</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/6x.jpg" data-src="static/assets/img/profiles/6.jpg" src="static/assets/img/profiles/6x.jpg" class="col-top">
 </span>
<p class="p-l-10 ">
<span class="text-master">gwendolyn walker</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">j</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/7x.jpg" data-src="static/assets/img/profiles/7.jpg" src="static/assets/img/profiles/7x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">janet romero</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">k</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/8x.jpg" data-src="static/assets/img/profiles/8.jpg" src="static/assets/img/profiles/8x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">kim martinez</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">l</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/9x.jpg" data-src="static/assets/img/profiles/9.jpg" src="static/assets/img/profiles/9x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">lawrence white</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/1x.jpg" data-src="static/assets/img/profiles/1.jpg" src="static/assets/img/profiles/1x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">leroy bell</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">letitia carr</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/3x.jpg" data-src="static/assets/img/profiles/3.jpg" src="static/assets/img/profiles/3x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">lucy castro</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">m</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/4x.jpg" data-src="static/assets/img/profiles/4.jpg" src="static/assets/img/profiles/4x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">mae hayes</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/5x.jpg" data-src="static/assets/img/profiles/5.jpg" src="static/assets/img/profiles/5x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">marilyn owens</span>
<span class="block text-master hint-text fs-12">Hello there</span>
 </p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/6x.jpg" data-src="static/assets/img/profiles/6.jpg" src="static/assets/img/profiles/6x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">marlene cole</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/7x.jpg" data-src="static/assets/img/profiles/7.jpg" src="static/assets/img/profiles/7x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">marsha warren</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/8x.jpg" data-src="static/assets/img/profiles/8.jpg" src="static/assets/img/profiles/8x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">marsha dean</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/9x.jpg" data-src="static/assets/img/profiles/9.jpg" src="static/assets/img/profiles/9x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">mia diaz</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">n</div>
<ul>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/1x.jpg" data-src="static/assets/img/profiles/1.jpg" src="static/assets/img/profiles/1x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">noah elliott</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">p</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">phyllis hamilton</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">r</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/3x.jpg" data-src="static/assets/img/profiles/3.jpg" src="static/assets/img/profiles/3x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">raul rodriquez</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/4x.jpg" data-src="static/assets/img/profiles/4.jpg" src="static/assets/img/profiles/4x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">rhonda barnett</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
 <span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/5x.jpg" data-src="static/assets/img/profiles/5.jpg" src="static/assets/img/profiles/5x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">roberta king</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">s</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/6x.jpg" data-src="static/assets/img/profiles/6.jpg" src="static/assets/img/profiles/6x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">scott armstrong</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/7x.jpg" data-src="static/assets/img/profiles/7.jpg" src="static/assets/img/profiles/7x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">sebastian austin</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/8x.jpg" data-src="static/assets/img/profiles/8.jpg" src="static/assets/img/profiles/8x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">sofia davis</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">t</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/9x.jpg" data-src="static/assets/img/profiles/9.jpg" src="static/assets/img/profiles/9x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">terrance young</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/1x.jpg" data-src="static/assets/img/profiles/1.jpg" src="static/assets/img/profiles/1x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">theodore woods</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">todd wood</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/3x.jpg" data-src="static/assets/img/profiles/3.jpg" src="static/assets/img/profiles/3x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">tommy jenkins</span>
<span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
<div class="list-view-group-container">
<div class="list-view-group-header text-uppercase">w</div>
<ul>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/4x.jpg" data-src="static/assets/img/profiles/4.jpg" src="static/assets/img/profiles/4x.jpg" class="col-top">
</span>
<p class="p-l-10 ">
<span class="text-master">wilma hicks</span>
 <span class="block text-master hint-text fs-12">Hello there</span>
</p>
</a>
</li>

</ul>
</div>
</div>
</div>

<div class="view chat-view bg-white clearfix">

<div class="navbar navbar-default">
<div class="navbar-inner">
<a href="javascript:;" class="link text-master inline action p-l-10 p-r-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
<i class="pg-arrow_left"></i>
</a>
<div class="view-heading">
John Smith
<div class="fs-11 hint-text">Online</div>
</div>
<a href="#" class="link text-master inline action p-r-10 pull-right ">
<i class="pg-more"></i>
</a>
</div>
</div>


<div class="chat-inner" id="my-conversation">

<div class="message clearfix">
<div class="chat-bubble from-me">
Hello there
</div>
</div>


<div class="message clearfix">
<div class="profile-img-wrapper m-t-5 inline">
<img class="col-top" width="30" height="30" src="static/assets/img/profiles/avatar_small.jpg" alt="" data-src="static/assets/img/profiles/avatar_small.jpg" data-src-retina="static/assets/img/profiles/avatar_small2x.jpg">
</div>
<div class="chat-bubble from-them">
Hey
</div>
</div>


<div class="message clearfix">
<div class="chat-bubble from-me">
Did you check out Pages framework ?
</div>
</div>


<div class="message clearfix">
<div class="chat-bubble from-me">
Its an awesome chat
</div>
</div>


<div class="message clearfix">
<div class="profile-img-wrapper m-t-5 inline">
<img class="col-top" width="30" height="30" src="static/assets/img/profiles/avatar_small.jpg" alt="" data-src="static/assets/img/profiles/avatar_small.jpg" data-src-retina="static/assets/img/profiles/avatar_small2x.jpg">
</div>
<div class="chat-bubble from-them">
Yea
</div>
</div>

</div>


<div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
<div class="row">
<div class="col-1 p-t-15">
<a href="#" class="link text-master"><i class="fa fa-plus-circle"></i></a>
</div>
<div class="col-8 no-padding">
<input type="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
</div>
<div class="col-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
<a href="#" class="link text-master"><i class="pg-camera"></i></a>
</div>
</div>
</div>

</div>

</div>
</div>
</div>
</div>


<div class="overlay hide" data-pages="search">

<div class="overlay-content has-results m-t-20">

<div class="container-fluid">

<img class="overlay-brand" src="static/assets/img/logo.png" alt="logo" data-src="static/assets/img/logo.png" data-src-retina="static/assets/img/logo_2x.png" width="78" height="22">


<a href="#" class="close-icon-light overlay-close text-black fs-16">
<i class="pg-close"></i>
</a>

</div>

<div class="container-fluid">

<input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
<br>
<div class="inline-block">
<div class="checkbox right">
<input id="checkboxn" type="checkbox" value="1" checked="checked">
<label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
</div>
</div>
<div class="inline-block m-l-10">
<p class="fs-13">Press enter to search</p>
</div>

</div>

<div class="container-fluid">
<span>
<strong>suggestions :</strong>
</span>
<span id="overlay-suggestions"></span>
<br>
<div class="search-results m-t-40">
<p class="bold">Pages Search Results</p>
<div class="row">
<div class="col-md-6">

<div class="">

<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
<div>
<img width="50" height="50" src="static/assets/img/profiles/avatar.jpg" data-src="static/assets/img/profiles/avatar.jpg" data-src-retina="static/assets/img/profiles/avatar2x.jpg" alt="">
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
<p class="hint-text">via john smith</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
<div>T</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
<p class="hint-text">via pages</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
<div><i class="fa fa-headphones large-text "></i>
</div>
 </div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
<p class="hint-text">via pagesmix</p>
</div>
</div>

</div>
<div class="col-md-6">

<div class="">

<div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
<div><i class="fa fa-facebook large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
<p class="hint-text">via facebook</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
<div><i class="fa fa-twitter large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
<p class="hint-text">via twitter</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
<div><i class="fa fa-google-plus large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
<p class="hint-text">via google plus</p>
</div>
</div>

</div>
</div>
</div>
</div>

</div>

</div>




<script src="static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="static/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/classie/classie.js"></script>
<script src="static/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="static/assets/plugins/jquery-menuclipper/jquery.menuclipper.js"></script>


<script src="static/pages/js/pages.min.js"></script>
<script src="static/pages/js/pages.email.js" type="text/javascript"></script>


<script src="static/assets/js/scripts.js" type="text/javascript"></script>
<script src="static/assets/js/scripts.js" type="text/javascript"></script>

</body>
</html>
{% endblock %}
