<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>pages - Admin Dashboard UI Kit - Email</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
<script src="http://pages.revox.io/cdn-cgi/apps/head/vAzQ3pO_LVF9Y_-CSxLP87NslSA.js"></script><link rel="apple-touch-icon" href="pages/ico/60.png">
<link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
<link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
<link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta content="" name="description" />
<meta content="" name="author" />
<link href="static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/jquery-menuclipper/jquery.menuclipper.css" rel="stylesheet" type="text/css" />
<link href="static/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
<link class="main-stylesheet" href="static/pages/css/pages.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="static/pages/css/custom.css" rel="stylesheet" type="text/css" />
</head>
{% block b %}{% endblock %}
<script src="static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="static/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/classie/classie.js"></script>
<script src="static/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="static/assets/plugins/jquery-menuclipper/jquery.menuclipper.js"></script>


<script src="static/pages/js/pages.min.js"></script>
<script src="static/pages/js/pages.email.js" type="text/javascript"></script>


<script src="static/assets/js/scripts.js" type="text/javascript"></script>
<script src="static/assets/js/scripts.js" type="text/javascript"></script>
</body>
</html>
