<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Simplify Reality- Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
<link rel="apple-touch-icon" href="pages/ico/60.png">
<link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
<link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
<link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta content="" name="description" />
<meta content="" name="author" />
  

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<link href="static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
<link href="static/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="screen">
<link href="static/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" media="screen">
<link href="static/assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" rel="stylesheet" type="text/css" />
<link href="static/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
<link class="main-stylesheet" href="static/pages/css/pages.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="static/pages/css/custom.css" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-header dashboard">

{% extends 'body.html' %}
{%block b%}

<div class="page-content-wrapper ">

<div class="content sm-gutter">

<div class="container-fluid padding-25 sm-padding-10">

<div class="row">



<div class="col-lg-8 hidden-xlg">

<div class="widget-11-2 card no-border card-condensed no-margin widget-loader-circle full-height d-flex flex-column">
<div class="card-header  top-right">
<div class="card-controls">
<ul>
<li><a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
<div class="padding25">
<div class="pull-left">
<h2 class="text-success no-margin">Email</h2>
</div>

<h3 class="pull-right semi-bold"><sup>

</sup> 102
</h3>
<div class="clearfix"></div>

<div class="clearfix"></div>


<div style="margin-right:10px;width:42%;" class="input-prepend input-group pull-left">
<span style="height:auto;padding:5px 10px;" class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
<input type="text" style="width: 100%" name="reservation" id="daterangepicker" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM" />
</div>


<div class="form-group pull-right col-lg-5" style="padding:0;">
<form role="form">
<div class="form-group ">
   
      <div class="col-md-12" style="padding:0;">
<input type="text" placeholder="Search" class="form-control" aria-invalid="false">
</div>
   
</div>
</form>

</div>
















</div>
<div class="auto-overflow widget-11-2-table">
<table class="table table-condensed table-hover custom-tablehd">

<thead><tr><th  style="color:#333;" class="col-lg-3">CUSTOMER</th><th style="color:#333;" class="col-lg-3">Subject</th><th style="color:#333;" class="col-lg-6">Content</th></tr></thead>


<tbody>


<tr><td class="col-lg-12" style="padding:6px 0 5px 15px;color:#232830;font-size:13px;text-transform:uppercase;background:#e8e7e7;border-bottom:0;">24<sup>th &nbsp;</sup>  Dec, 2017</td></tr>
<tr>
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>




<tr class="unread">
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>

<tr>
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>

<tr>
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>


<tr><td class="col-lg-12" style="padding:6px 0 5px 15px;color:#232830;font-size:13px;text-transform:uppercase;background:#e8e7e7;border-bottom:0;">24<sup>th &nbsp;</sup>  Dec, 2017</td></tr>
<tr>
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>


<tr>
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 col-lg-3">David Nester</td>

<td class=" small col-lg-3">
Your Site has some very Imaginative
</td>
<td class="col-lg-6 font-montserrat fs-12">
Dear Krishen, I Saw your site its very impressive i like it and want to inform you that that site is
</td>
</tr>


</tbody>
</table>
</div>

</div>

</div>






<div class="col-lg-4">

<div class="widget-11-2 card no-border card-condensed no-margin widget-loader-circle full-height d-flex flex-column p-b-25">

<div class="card-header  top-right">
<div class="card-controls">
<ul>
<li><a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>

<div class="padding25">
<div class="pull-left">
<h2 class="text-success no-margin">SMS</h2>

</div>


<h3 class="pull-right semi-bold"><sup>

</sup> 56
</h3>

<div class="clearfix"></div>

<div style="margin-right:10px;width:48%;" class="input-prepend input-group pull-left">
<span style="height:auto;padding:5px 10px;" class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
<input type="text" style="width: 100%" name="reservation1" id="daterangepicker1" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM" />
</div>






<div class="form-group ">
   
      <div class="col-lg-5 pull-right">
<input type="text" placeholder="Search" class="form-control" aria-invalid="false">
</div>
   
</div>







</div>



<div class="card-block">

<div class="list-view-group-container email-overflow">
<div class="list-view-group-header">24<sup>th &nbsp;</sup> Sep, 2017</div>
<ul class="m-p list-view">

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master ">+91 9222398778</span>
<span class="block text-master hint-text fs-12">You are receiving notification</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix unread">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master ">+91 7777892877</span>
<span class="block text-master hint-text fs-12">Thanks for showing interest </span>
</p>
</a>
</li>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master ">bella mccoy</span>
<span class="block text-master hint-text fs-12">In case of query call us on our </span>
</p>
</a>
</li>

<li class="chat-user-list clearfix unread">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master">+91 9222398778</span>
<span class="block text-master hint-text fs-12">You are receiving notification </span>
</p>
</a>
</li>

</ul>
</div>


</div>



</div>

</div>











</div>










<div class="row p-t-10 p-b-10">






<div class="col-lg-4">

<div class="widget-11-2 card no-border card-condensed no-margin widget-loader-circle full-height d-flex flex-column p-b-25">

<div class="card-header  top-right">
<div class="card-controls">
<ul>
<li><a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>

<div class="padding25">
<div class="pull-left">
<h2 class="text-success no-margin">WhatsApp</h2>

</div>


<h3 class="pull-right semi-bold"><sup>

</sup> 56
</h3>

<div class="clearfix"></div>

<div style="margin-right:10px;width:48%;" class="input-prepend input-group pull-left">
<span style="height:auto;padding:5px 10px;" class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
<input type="text" style="width: 100%" name="reservation1" id="daterangepicker2" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM" />
</div>




<div class="form-group ">
   
      <div class="col-lg-5 pull-right">
<input type="text" placeholder="Search" class="form-control" aria-invalid="false">
</div>
   
</div>










</div>



<div class="card-block">

<div class="list-view-group-container email-overflow">
<div class="list-view-group-header">24<sup>th &nbsp;</sup> Sep, 2017</div>
<ul class="m-p list-view">

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master ">+91 9222398778</span>
<span class="block text-master hint-text fs-12">You are receiving notification</span>
</p>
</a>
</li>


<li class="chat-user-list clearfix unread">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master ">+91 7777892877</span>
<span class="block text-master hint-text fs-12">Thanks for showing interest </span>
</p>
</a>
</li>

<li class="chat-user-list clearfix">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master ">bella mccoy</span>
<span class="block text-master hint-text fs-12">In case of query call us on our </span>
</p>
</a>
</li>

<li class="chat-user-list clearfix unread">
<a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
<span class="thumbnail-wrapper d32 circular bg-success m-r-10">
<img width="34" height="34" alt="" data-src-retina="static/assets/img/profiles/2x.jpg" data-src="static/assets/img/profiles/2.jpg" src="static/assets/img/profiles/2.jpg" class="col-top">
</span>
<p class="p-l-10">
<span class="text-master">+91 9222398778</span>
<span class="block text-master hint-text fs-12">You are receiving notification </span>
</p>
</a>
</li>

</ul>
</div>


</div>



</div>

</div>


<div class="col-lg-3 ">

<div class="card-block  no-border bg-white p-b-35">
<h5>Advance
<span class="semi-bold">Settings</span>
</h5>
<p>Some advance setting that you can do with this calender, like to start from years an disable sections of dates</p>

<div id="datepicker-embeded"></div>

</div>
</div>



<div class="col-lg-5 sticky">

<textarea>This is a sticky note you can type and edit.</textarea>

</div>










</div>














<div class="row">
<div class="col-lg-4 col-xl-3 col-xlg-2 ">
<div class="row">



<div class="col-md-12 m-b-10">

<div class="widget-9 card no-border bg-primary no-margin widget-loader-bar">
<div style="background:#10cfbd;" class="full-height d-flex flex-column">
<div class="card-header ">
<div class="card-title text-black">
<span class="font-montserrat fs-11 all-caps">Weekly Email<i class="fa fa-chevron-right"></i>
</span>
</div>
<div class="card-controls">
<ul>
<li><a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
<div class="p-l-20">
<h3 class="no-margin p-b-5 text-white">23,000</h3>
<a href="#" class="btn-circle-arrow text-white"><i class="pg-arrow_minimize"></i>
</a>
<span class="small hint-text text-white">65% lower than last month</span>
</div>
<div class="mt-auto">
<div class="progress progress-small m-b-20">

<div class="progress-bar progress-bar-white" style="width:45%"></div>

</div>
</div>
</div>
</div>

</div>






</div>
<div class="row">
<div class="col-md-12 m-b-10">

<div class="widget-9 card no-border bg-primary no-margin widget-loader-bar">
<div class="full-height d-flex flex-column">
<div class="card-header ">
<div class="card-title text-black">
<span class="font-montserrat fs-11 all-caps">Weekly SMS <i class="fa fa-chevron-right"></i>
</span>
</div>
<div class="card-controls">
<ul>
<li><a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
<div class="p-l-20">
<h3 class="no-margin p-b-5 text-white">16,000</h3>
<a href="#" class="btn-circle-arrow text-white"><i class="pg-arrow_minimize"></i>
</a>
<span class="small hint-text text-white">65% lower than last month</span>
</div>
<div class="mt-auto">
<div class="progress progress-small m-b-20">

<div class="progress-bar progress-bar-white" style="width:45%"></div>

</div>
</div>
</div>
</div>

</div>
</div>
<div class="row">
<div class="col-md-12 m-b-10">

<div style="background:#8f2e68 !important;margin-top:3px !important;" class="widget-9 card no-border bg-primary no-margin widget-loader-bar">
<div class="full-height d-flex flex-column">
<div class="card-header ">
<div class="card-title text-black">
<span class="font-montserrat fs-11 all-caps">Weekly WhatsApp <i class="fa fa-chevron-right"></i>
</span>
</div>
<div class="card-controls">
<ul>
<li><a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
<div class="p-l-20">
<h3 class="no-margin p-b-5 text-white">$23,000</h3>
<a href="#" class="btn-circle-arrow text-white"><i class="pg-arrow_minimize"></i>
</a>
<span class="small hint-text text-white">65% lower than last month</span>
</div>
<div class="mt-auto">
<div class="progress progress-small m-b-20">

<div class="progress-bar progress-bar-white" style="width:45%"></div>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
<div class="col-lg-8 col-xl-4 col-xlg-6 m-b-10">
<div class="row">
<div class="col-md-12">

<div class="widget-12 card no-border widget-loader-circle m-b-0 p-b-10">
<div class="row">
<div class="col-xlg-8 ">
<div class="card-header  pull-up top-right ">
<div class="card-controls">
<ul>
<li class="hidden-xlg">
<div class="dropdown">
<a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
<i class="card-icon card-icon-settings"></i>
</a>
<ul class="dropdown-menu pull-right" role="menu">
<li><a href="#">AAPL</a>
</li>
<li><a href="#">YHOO</a>
</li>
<li><a href="#">GOOG</a>
</li>
</ul>
</div>
</li>
<li>
<a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="card-block">
<div class="row">
<div class="col-xlg-8 col-lg-12">
<div class="p-l-5">
<h2 class="pull-left m-t-5 m-b-5">Apple Inc.</h2>
<h2 class="pull-left m-l-50 m-t-5 m-b-5 text-danger">
<span class="">448.97</span>
<span class="text-danger fs-12">-318.24</span>
</h2>
<div class="clearfix"></div>
<div class="full-width">
<ul class="list-inline">
<li><a href="#" class="font-montserrat text-master">1D</a>
</li>
<li class="active"><a href="#" class="font-montserrat  bg-master-light text-master">5D</a>
</li>
<li><a href="#" class="font-montserrat text-master">1M</a>
</li>
<li><a href="#" class="font-montserrat text-master">1Y</a>
</li>
</ul>
</div>
<div class="nvd3-line line-chart text-center" data-x-grid="false">
<svg></svg>
</div>
</div>
</div>
<div class="col-xlg-4 visible-xlg">
<div class="widget-12-search">
<p class="pull-left">Company
<span class="bold">List</span>
</p>
<button class="btn btn-default btn-xs pull-right">
<span class="bold">+</span>
</button>
<div class="clearfix"></div>
<input type="text" placeholder="Search list" class="form-control m-t-5">
</div>
<div class="company-stat-boxes">
<div data-index="0" class="company-stat-box m-t-15 active padding-20 bg-master-lightest">
<div>
<button type="button" class="close" data-dismiss="modal">
<i class="pg-close fs-12"></i>
</button>
<p class="company-name pull-left text-uppercase bold no-margin">
<span class="fa fa-circle text-success fs-11"></span> AAPL
</p>
<small class="hint-text m-l-10">Yahoo Inc.</small>
<div class="clearfix"></div>
</div>
<div class="m-t-10">
<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>
<div class="pull-right">
<p class="small hint-text no-margin inline">37.73</p>
<span class=" label label-important p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
</div>
<div class="clearfix"></div>
</div>
</div>
<div data-index="1" class="company-stat-box m-t-15  padding-20 bg-master-lightest">
<div>
<button type="button" class="close" data-dismiss="modal">
<i class="pg-close fs-12"></i>
</button>
<p class="company-name pull-left text-uppercase bold no-margin">
<span class="fa fa-circle text-primary fs-11"></span> YHOO
</p>
<small class="hint-text m-l-10">Yahoo Inc.</small>
<div class="clearfix"></div>
</div>
<div class="m-t-10">
<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>
<div class="pull-right">
<p class="small hint-text no-margin inline">37.73</p>
<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
</div>
<div class="clearfix"></div>
</div>
</div>
<div data-index="2" class="company-stat-box m-t-15  padding-20 bg-master-lightest">
<div>
<button type="button" class="close" data-dismiss="modal">
<i class="pg-close fs-12"></i>
</button>
<p class="company-name pull-left text-uppercase bold no-margin">
<span class="fa fa-circle text-complete fs-11"></span> GOOG
</p>
<small class="hint-text m-l-10">Yahoo Inc.</small>
<div class="clearfix"></div>
</div>
<div class="m-t-10">
<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>
<div class="pull-right">
<p class="small hint-text no-margin inline">37.73</p>
<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
<div class="col-lg-6 col-xl-5 m-b-10 hidden-xlg">

<div class="widget-11-2 card no-border card-condensed no-margin widget-loader-circle full-height d-flex flex-column">
<div class="card-header  top-right">
<div class="card-controls">
<ul>
<li><a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
<div class="padding-25">
<div class="pull-left">
<h2 class="text-success no-margin">Categories</h2>
<p class="no-margin">Today's sales</p>
</div>


<h3 class="pull-right semi-bold"><sup>

</sup> 66
</h3>


<div class="clearfix"></div>
</div>
<div class="auto-overflow widget-11-2-table">
<table class="table table-condensed table-hover">
<tbody>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">RESERVATION</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">CANCELLATION</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">SHIPMENT</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">REFUNDS</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">BOOKINGS</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">ORDERS</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">SHIPMENT</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">CANCELLATION</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">RESCHEDULES</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
<tr>
<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
<td class="text-right hidden-lg">
<span class="hint-text small">dewdrops</span>
</td>
<td class="text-right b-r b-dashed b-grey w-25">
<span class="hint-text small">Qty 1</span>
</td>
<td class="w-25">
<span class="font-montserrat fs-18">$27</span>
</td>
</tr>
</tbody>
</table>
</div>

</div>

</div>
<div class="col-lg-6 visible-md visible-xlg col-xlg-4 m-b-10">

<div class="widget-15 card card-condensed  no-margin no-border widget-loader-circle">
<div class="card-header ">
<div class="card-controls">
<ul>
<li><a href="#" class="card-collapse" data-toggle="collapse"><i class="card-icon card-icon-collapse"></i></a>
</li>
<li><a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
<div class="card-block no-padding">
<ul class="nav nav-tabs nav-tabs-simple">
<li class="nav-item">
<a href="#" data-toggle="tab" class="p-t-5 active">
APPL<br>
22.23<br>
<span class="text-success">+60.223%</span>
</a>
</li>
<li class="nav-item"><a href="#" data-toggle="tab" class="p-t-5">
FB<br>
45.97<br>
<span class="text-danger">-06.56%</span>
</a>
</li>
<li class="nav-item"><a href="#" data-toggle="tab" class="p-t-5">
GOOG<br>
22.23<br>
<span class="text-success">+60.223%</span>
</a>
</li>
</ul>
<div class="tab-content p-l-20 p-r-20">
<div class="tab-pane no-padding active" id="widget-15-tab-1">
<div class="full-width">
<div class="full-width">
<div class="widget-15-chart rickshaw-chart"></div>
</div>
</div>
</div>
<div class="tab-pane no-padding" id="widget-15-tab-2">
</div>
<div class="tab-pane" id="widget-15-tab-3">
</div>
</div>
<div class="p-t-20 p-l-20 p-r-20 p-b-30">
<div class="row">
<div class="col-md-9">
<p class="fs-16 text-black">Apple’s Motivation - Innovation
<br>distinguishes between A leader and a follower.
</p>
<p class="small hint-text p-b-10">VIA Apple Store (Consumer and Education Individuals)
<br>(800) MY-APPLE (800-692-7753)
</p>
</div>
<div class="col-md-3 text-right">
<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>
<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>
</div>
</div>
</div>
</div>
</div>

</div>
</div>





<div class="row">


<div class="col-lg-2 m-b-10 prblm-div">

<div class="widget-14 card no-border  no-margin widget-loader-circle">
<div class="container-xs-height full-height">
<div class="row-xs-height">
<div class="col-xs-height">
<div class="card-header ">
<div class="card-title">Server load
</div>
<div class="card-controls">
<ul>
<li><a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="row-xs-height">
<div class="col-xs-height">
<div class="p-l-20 p-r-20">

<div class="row">


<div class="col-lg-3 visible-xlg">
<div class="widget-14-chart-legend "></div>

</div>
</div>
</div>
</div>
</div>
<div class="row-xs-height">
<div class="col-xs-height relative bg-master-lightest">
<div class="widget-14-chart_y_axis"></div>
<div class="widget-14-chart "></div>
</div>
</div>
</div>
</div>

</div>



<!--



<div class="col-lg-2">
    
        <div class="row">
        
            <div class="col-md-12">
                <div class="widget-12 card no-border widget-loader-circle">
                
                
                

                
                
                </div>
            </div>
            
        </div>
    </div>

-->




<div id="iframe" class="col-lg-7 m-b-10">

<div class="no-border">
  <iframe src ="http://www.simplifyreality.com/" width="100%" height="460px" scrolling="yes" style="border:0;">
         Sorry your browser does not support inline frames.
      </iframe>
</div>
</div>







<div class="col-md-8 col-lg-5 col-xlg-5 m-b-10">

<div class="widget-17 card  no-border no-margin widget-loader-circle">
<div class="card-header ">
<div class="card-title">
<i class="pg-map"></i> California, USA
<span class="caret"></span>
</div>
<div class="card-controls">
<ul>
<li class="">
<div class="dropdown">
<a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
<i class="card-icon card-icon-settings"></i>
</a>
<ul class="dropdown-menu pull-right" role="menu">
<li><a href="#">AAPL</a>
</li>
<li><a href="#">YHOO</a>
</li>
<li><a href="#">GOOG</a>
</li>
</ul>
</div>
</li>
<li>
<a data-toggle="refresh" class="card-refresh text-black" href="#">
<i class="card-icon card-icon-refresh"></i>
</a>
</li>
</ul>
</div>
</div>
<div class="card-block">
<div class="p-l-5">
<div class="row">
<div class="col-lg-12 col-xlg-6">
<div class="row m-t-20">

<div class="col-lg-7">

<div class="pull-right">
<canvas height="64" width="64" class="clear-day"></canvas>
</div>
</div>
</div>
<h5>Feels like
<span class="semi-bold">rainy</span>
</h5>
<p>Weather information</p>

<div class="row m-t-10 timeslot">
<div class="col-2 p-t-10 text-center">
<p class="small">Monday</p>
<canvas height="25" width="25" class="partly-cloudy-day"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-2 p-t-10 text-center">
<p class="small">Tuesday</p>
<canvas height="25" width="25" class="cloudy"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-2 p-t-10 text-center">
<p class="small">Wednesday</p>
<canvas height="25" width="25" class="rain"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-2 p-t-10 text-center">
<p class="small">15:00</p>
<canvas height="25" width="25" class="sleet"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-2 p-t-10 text-center">
<p class="small">Thusday</p>
<canvas height="25" width="25" class="snow"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-2 p-t-10 text-center">
<p class="small">Friday</p>
<canvas height="25" width="25" class="wind"></canvas>
<p class="text-danger bold">30°C</p>
</div>
</div>
</div>
<div class="col-xlg-6 visible-xlg">
<div class="row">
<div class="forecast-day col-lg-6 text-center m-t-10 ">
<div class="bg-master-lightest p-b-10 p-t-10">
<h4 class="p-t-10 no-margin">Tuesday</h4>
<p class="small hint-text m-b-20">11th Augest 2014</p>
<canvas class="rain" width="64" height="64"></canvas>
<h5 class="text-danger">32°</h5>
<p>Feels like
<span class="bold">sunny</span>
</p>
<p class="small">Wind
<span class="bold p-l-20">11km/h</span>
</p>
<div class="m-t-20 block">
<div class="padding-10">
<div class="row">
<div class="col-lg-6 text-center">
<p class="small">Noon</p>
<canvas class="sleet" width="25" height="25"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-lg-6 text-center">
<p class="small">Night</p>
<canvas class="wind" width="25" height="25"></canvas>
<p class="text-danger bold">30°C</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 text-center m-t-10 ">
<div class="bg-master-lightest p-b-10 p-t-10">
<h4 class="p-t-10 no-margin">Wednesday</h4>
<p class="small hint-text m-b-20">11th Augest 2014</p>
<canvas class="rain" width="64" height="64"></canvas>
<h5 class="text-danger">32°</h5>
<p>Feels like
<span class="bold">sunny</span>
</p>
<p class="small">Wind
<span class="bold p-l-20">11km/h</span>
</p>
<div class="m-t-20 block">
<div class="padding-10">
<div class="row">
<div class="col-lg-6 text-center">
<p class="small">Noon</p>
<canvas class="sleet" width="25" height="25"></canvas>
<p class="text-danger bold">30°C</p>
</div>
<div class="col-lg-6 text-center">
<p class="small">Night</p>
<canvas class="wind" width="25" height="25"></canvas>
<p class="text-danger bold">30°C</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>








</div>




<div class="row">

<div class="col-lg-5 m-b-10 ">


<div class=" no-border">



<div class="card-header">
<div class="card-controls  pull-right">
<ul>
<li  class="hidden-xlg" style="list-style:none;display:inline-block">
<div class="dropdown">
<a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
<i class="card-icon card-icon-settings"></i>
</a>
<ul class="dropdown-menu pull-right" role="menu">

<li><a id="bbc-btn">BBC</a>
</li>
<li><a id="cnn-btn">CNN</a>
</li>
<li><a id="cnbc-btn">CNBC</a>
</li>
<li><a id="times-btn">TIMES NOW</a>
</li>
</ul>
</div>
</li>
<li style="list-style:none;display:inline-block" class="">
<a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon card-icon-refresh"></i></a>
</li>
</ul>

</div>
<div class="clearfix"></div>
</div>


<div>
  <iframe id="myiframe" src = "http://www.bbc.com/" width="100%" height="500px" style="border:none;">
         Sorry your browser does not support inline frames.
      </iframe>
</div>

</div>
</div>





  <div class="col-lg-7 m-b-0">
    
        <div class="row">
        
            <div class="col-md-12">
                <div class="widget-12 card no-border widget-loader-circle m-b-10">
                
                
                   
    <div class="map">

	<iframe width="100%" height="560" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>

</div>
                
                
                </div>
            </div>
            
        </div>
    </div>









</div>



<div class="row">

  <div class="col-lg-3">
  
      <div style="background:#eee;height:400px;padding:25px;" class="no-border">
      
       <h2 class="text-success no-margin">Facebook</h2>
      
      </div>
  
  </div> 
  
   <div class="col-lg-3">
  
      <div style="background:#eee;height:400px;padding:25px"  class="no-border">
      
       
          <h2 class="text-success no-margin">linkedin</h2>
      
      </div>
  
  </div> 
  
   <div class="col-lg-3">
  
      <div style="background:#eee;height:400px;padding:25px;"  class="no-border">
        <h2 class="text-success no-margin">Twitter</h2>
       
      
      </div>
  
  </div> 
  
   <div class="col-lg-3 ">
  
      <div style="background:#eee;height:400px;padding:25px;"  class="no-border">
        <h2 class="text-success no-margin">Google +</h2>

      
      </div>
  
  </div> 

</div>









<div class="row">

  

<!--


<div class="col-lg-7 col-xlg-4 m-t-10">
<div class="row">
<div class="col-sm-6 m-b-10">
<div class="ar-1-1 p-t-40">

<div class="widget-2 card no-border bg-primary widget widget-loader-circle-lg no-margin">
<div class="card-header ">
<div class="card-controls">
<ul>
<li><a href="#" class="card-refresh" data-toggle="refresh"><i class="card-icon card-icon-refresh-lg-white"></i></a>
</li>
</ul>
</div>
</div>
<div class="card-block">
<div class="pull-bottom bottom-left bottom-right padding-25">
<span class="label font-montserrat fs-11">NEWS</span>
<br>
<h3 class="text-white">So much more to see at a glance.</h3>
<p class="text-white hint-text hidden-lg-down">Learn More at Project Pages</p>
</div>
</div>
</div>

</div>
</div>
<div class="col-sm-6 m-b-10">
<div class="ar-1-1 p-t-40">

<div class="widget-3 card no-border bg-complete no-margin widget-loader-bar">
<div class="card-block no-padding full-height">
<div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay="3000">
<div class="slide-front tiles slide active">
<div class="padding-30">
<div class="pull-top">
<div class="pull-left visible-lg visible-xlg">
<i class="pg-map"></i>
</div>
<div class="pull-right">
<ul class="list-inline ">
<li>
<a href="#" class="no-decoration"><i class="pg-comment"></i>
</a>
</li>
<li>
<a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
</a>
</li>
</ul>
</div>
<div class="clearfix"></div>
</div>
<div class="pull-bottom p-b-30">
<p class="p-t-10 fs-12 p-b-5 hint-text">21 Jan</p>
<h3 class="no-margin text-white p-b-10">Carefully
<br>designed for a
<br>great
<span class="semi-bold">experience</span>
</h3>
</div>
</div>
</div>
<div class="slide-back tiles">
<div class="padding-30">
<div class="pull-top">
<div class="pull-left visible-lg visible-xlg">
<i class="pg-map"></i>
</div>
 <div class="pull-right">
<ul class="list-inline ">
<li>
<a href="#" class="no-decoration"><i class="pg-comment"></i>
</a>
</li>
<li>
<a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
</a>
</li>
</ul>
</div>
<div class="clearfix"></div>
</div>
<div class="pull-bottom p-b-30">
<p class="p-t-10 fs-12 p-b-5 hint-text">21 Jan</p>
<h3 class="no-margin text-white p-b-10">A whole new
<br>
<span class="semi-bold">page</span>
</h3>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>



</div>

-->






</div>













</div>

</div>




<div class=" container-fluid  container-fixed-lg footer">
<div class="copyright sm-text-center">
<p class="small no-margin pull-left sm-pull-reset">
<span class="hint-text">Copyright &copy; 2017 </span>
<span class="font-montserrat">Simplify Reality</span>.
<span class="hint-text">All rights reserved. </span>
<span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> <span class="muted">|</span> <a href="#" class="m-l-10">Privacy Policy</a></span>
</p>
<p class="small no-margin pull-right sm-pull-reset">
Hand-crafted <span class="hint-text">in Los Angeles, california</span>
</p>
<div class="clearfix"></div>
</div>
</div>

</div>

</div>



<div class="overlay hide" data-pages="search">

<div class="overlay-content has-results m-t-20">

<div class="container-fluid">

<img class="overlay-brand" src="static/assets/img/logo.png" alt="logo" data-src="static/assets/img/logo.png" data-src-retina="static/assets/img/logo_2x.png" width="78" height="22">


<a href="#" class="close-icon-light overlay-close text-black fs-16">
<i class="pg-close"></i>
</a>

</div>

<div class="container-fluid">

<input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
<br>
<div class="inline-block">
<div class="checkbox right">
<input id="checkboxn" type="checkbox" value="1" checked="checked">
<label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
</div>
</div>
<div class="inline-block m-l-10">
<p class="fs-13">Press enter to search</p>
</div>

</div>

<div class="container-fluid">
<span>
<strong>suggestions :</strong>
</span>
<span id="overlay-suggestions"></span>
<br>
<div class="search-results m-t-40">
<p class="bold">Pages Search Results</p>
<div class="row">
<div class="col-md-6">

<div class="">

<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
<div>
<img width="50" height="50" src="static/assets/img/profiles/avatar.jpg" data-src="static/assets/img/profiles/avatar.jpg" data-src-retina="static/assets/img/profiles/avatar2x.jpg" alt="">
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
<p class="hint-text">via john smith</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
<div>T</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
<p class="hint-text">via pages</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
<div><i class="fa fa-headphones large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
<p class="hint-text">via pagesmix</p>
</div>
</div>

</div>
<div class="col-md-6">

<div class="">

<div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
<div><i class="fa fa-facebook large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
<p class="hint-text">via facebook</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
<div><i class="fa fa-twitter large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
<p class="hint-text">via twitter</p>
</div>
</div>


<div class="">

<div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
<div><i class="fa fa-google-plus large-text "></i>
</div>
</div>

<div class="p-l-10 inline p-t-5">
<h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
<p class="hint-text">via google plus</p>
</div>
</div>

</div>
</div>
</div>
</div>

</div>

</div>





<script src="static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<!--<script src="static/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>-->
<script src="static/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="static/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/select2/js/select2.full.min.js"></script>


<script type="text/javascript" src="static/assets/plugins/classie/classie.js"></script>
<script src="static/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="static/assets/plugins/rickshaw/rickshaw.min.js"></script>
<script src="static/assets/plugins/nvd3/lib/src/utils.js" type="text/javascript"></script>
<script src="static/assets/plugins/nvd3/lib/src/tooltip.js" type="text/javascript"></script>
<script src="static/assets/plugins/nvd3/lib/src/interactiveLayer.js" type="text/javascript"></script>
<script src="static/assets/plugins/nvd3/lib/src/models/axis.js" type="text/javascript"></script>
<script src="static/assets/plugins/nvd3/lib/src/models/line.js" type="text/javascript"></script>
<script src="static/assets/plugins/nvd3/lib/src/models/lineWithFocusChart.js" type="text/javascript"></script>
<script src="static/assets/plugins/mapplic/js/hammer.js"></script>
<script src="static/assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
<script src="static/assets/plugins/mapplic/js/mapplic.js"></script> 
<script src="static/assets/plugins/nvd3/lib/nv.d3.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/skycons/skycons.js" type="text/javascript"></script>
<!--<script src="static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>-->


<script src="static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="static/assets/plugins/moment/moment.min.js"></script>
<script src="static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>




<script src="static/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>

<script src="static/assets/plugins/bootstrap-typehead/typeahead.bundle.min.js"></script>
<script src="static/assets/plugins/handlebars/handlebars-v4.0.5.js"></script>






<script src="static/pages/js/pages.min.js"></script>
<script src="static/assets/js/dashboard.js" type="text/javascript"></script>
<script src="static/assets/js/scripts.js" type="text/javascript"></script>
<script src="static/assets/js/demo.js" type="text/javascript"></script>



   <script src="static/assets/js/form_elements.js" type="text/javascript"></script>






<script>
$("#bbc-btn").click(function(){$("#myiframe").attr("src", "http://www.bbc.com/")});
$("#cnn-btn").click(function(){$("#myiframe").attr("src", "http://indiatoday.intoday.in/")});
$("#cnbc-btn").click(function(){$("#myiframe").attr("src", "https://www.cnbc.com/world/?region=world")});
$("#times-btn").click(function(){$("#myiframe").attr("src", "http://www.timesnownews.com/")});
</script>


      
</body>
</html>




{% endblock %}

