﻿.align
{
   
    font-weight:bold; 
}
.linespace
{
    padding:10px 0;
}

.align2
{
  float:left;   
}


strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 14px;
	line-height: 24px;
	
	text-align: left;
	width: 800px;
}	

th {

	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	
	box-shadow: inset 0 1px 0 #999;
	color: #333;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	/*text-shadow: 0 1px 0 #000;	*/
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;

	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	



tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	




/*Css by sarabjeet*/
.pointer{cursor:pointer !important;}
table.detail-view tr.odd{background:#e5f1f4;}
table.detail-view td{font-size: 0.9em;border: 1px solid #fff;padding: 0.3em 0.6em;vertical-align: top;}
table.detail-view tr.even{background:#f8f8f8;}
table.detail-view th{width:160px;text-align:right;}
table.detail-view th{font-size: 0.9em;border: 1px solid #fff;padding: 0.3em 0.6em;vertical-align: top;box-shadow:none;}

/*Margins*/
.mR10{margin-right:10px;}

.messageShow{
    text-align: center;
    visibility: hidden;
    color: red;
    font-weight: bold;
    font-size: 18px;
}