{% load staticfiles %}
{% load rest_framework %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
<html lang="en">
<head>
    <!-- <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"> -->
    <title>Admin Login | Healora Inc.</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet" />
    <!--right slidebar-->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body class="login-body">
    <header class="header white-bg">
              <!--logo start-->
              <a href="#" class="logo" ></a>
              </header>
    <div class="container">
        <div class="span-19" style="width: 100%; float: none;">
            <div id="content">
                <div class="form">
                    <form class="form-signin" id="login-form" action="{% url 'rest_framework:login' %}" role="form" method="post" align="center">
                    {% csrf_token %}
                    <label style = "color: black;font-family: 'Exo', sans-serif;font-size: 16px;font-weight: 800;">{{ status }}</label>
                    <h2 class="form-signin-heading">Login</h2>
                    <div class="login-wrap">
                        <div class="row">
                            <input class="form-control"  type="text" placeholder="username" required = "true" name="username" value="{{username}}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
                            {% if form.username.errors %}
                            <div class="errorMessage" id="LoginForm_username_em_">
                                <p class="text-error">
                                    {{ form.username.errors|striptags }}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <input type="password" placeholder="password" name="password" value="" class="form-control textinput textInput" id="id_password" required/><br>
                            {% if form.password.errors %}
                            <div class="errorMessage" id="LoginForm_password_em_">
                                <p class="text-error">
                                    {{ form.password.errors|striptags }}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="well well-small text-error" style="border: none; color : #000000">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                        <label class="checkbox">
                            <input id="ytLoginForm_rememberMe" type="hidden" value="0" name="LoginForm[rememberMe]" /><input
                                name="LoginForm[rememberMe]" id="LoginForm_rememberMe" value="1" type="checkbox" />
                            Remember me
                        </label>
                        <a class="forgot-password" href="/user/password/reset" >Forgot Password?</a>
                        <div class="row buttons">
                            <input class="btn btn-lg btn-login btn-block" type="submit" name="yt0" value="Login" />
                        </div>
                    </div>
                    </form>
                </div>
                <!-- form -->
            </div>
            <!-- content -->
        </div>
    </div>
</body>
</html>