﻿{% extends 'includes/base.html' %}
{% block content %} <section class="content-header">
    <h1 class="pull-left">
      Update Profile

    </h1>
   
    <div>&nbsp;</div>
    <div>&nbsp;</div>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <ul class="alert alert-success alert-dismissable">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if error %}
<div class="new-alert alert-error alert-dismissable">
    <p><strong>Error:</strong> {{ error }}
        </div>
  {% endif %}
  {% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="new-alert alert-error alert-dismissable">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                    <div class="box-body">     
                       
                    <form action="/my_profile" role="form" method="post" class="form-horizontal">
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="email">Email *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="email"  type="text" placeholder=Email required = "true" name="email" value={{session.email}}>
                    </div>
                </div>
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="fname">First Name *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="fname"  type="text" placeholder="First Name" required = "true" name="fname" value={{session.fname}}>
                    </div>
                </div>
                    <div class="form-group">
                            <label class="col-sm-1 control-label" for="lname">Last Name *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="lname"  type="text" placeholder="Last Name" required = "true" name="lname" value={{session.lname}}>
                            </div>
                        </div>
<!--                     <div class="form-group">
                            <label class="col-sm-1 control-label" for="email">Email*</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="email"  type="text" placeholder="username" required = "true" name="email" value="{{username}}"/>
                            </div>
                        </div> -->
            
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" name="id" value={{session.id}}>Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
     <link rel="stylesheet" href="static/css/jquery-ui.css">
    <script>
                        $(function () {
                            $("#dob").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                maxDate: '-18Y',
                                minDate: '-100Y',
                                yearRange: "-100:+0",
                                dateFormat: "yy-mm-dd",
                                defaultDate: '1990-06-01',
                              
                            });
                        });
                        
                        
                        
    </script>
    {% endblock %}

