{% extends 'includes/base.html' %}
{% load filters %}
{% load staticfiles %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1 class="pull-left">
    Add Roles
    </h1>
   
    
    <div>&nbsp;<div>    
          
          
  <!--  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>-->
 
   
  </section>
      <div>&nbsp;</div>
        <div>&nbsp;</div>
      {% if form.errors %}
            
            {% for error in form.non_field_errors %}
                <div class="new-alert alert-error alert-dismissable">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
      <!-- Main content -->
     <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <form method="post" class="form-horizontal">
                    <div class="box-body">    
                    {% csrf_token %}
                    {% for field in form %}
                     <div class="form-group "> 
                      <label for="role" class="col-sm-1 control-label" > {{ field.label }}</label>
                        <div class="col-sm-10">
                           {{ field }}
                        </div>
                        </div>
                    {% endfor %}

                       {% for key, value in dictmodule.items %}
                      
                               
                           <div class="form-group col-sm-4">
                           <label for="{{ key }}" class="col-sm-3 control-label"> {{ value }}</label>
                            <div class="col-sm-9">
                                   
                                  <div class="checkbox">
                                    <label>

                                      {% if key in listmodule %}
                                       <input type="checkbox" class="mL30" checked name="{{ key }}-1-1"> Read
                                      {% else %}
                                      <input type="checkbox"  class="mL30" name="{{ key }}-1-1"> Read
                                     
                                      {% endif %}

                                    </label>
                                  </div>
                                 
                                    <div class="checkbox">
                                    <label>
                                      {% if key in listmodule  %}
                                         {% if  listmodule|role_permissions_add:key  %}
                                       
                                         <input type="checkbox" class="mL30" checked name="{{ key }}-2-1"> Add
                                         {% else %}
                                          <input type="checkbox" class="mL30"  name="{{ key }}-2-1"> Add
                                          {% endif %}
                                      {% else %}
                                      <input type="checkbox"  class="mL30" name="{{ key }}-2-1"> Add
                                     
                                      {% endif %}
                                      </label>
                                  </div>
                                  <div class="checkbox">
                                     <label>
                                      {% if key in listmodule  %}
                                         {% if  listmodule|role_permissions_edit:key  %}
                                        
                                         <input type="checkbox"  class="mL30" checked name="{{ key }}-3-1"> Edit
                                         {% else %}
                                          <input type="checkbox"  class="mL30"  name="{{ key }}-3-1"> Edit
                                          {% endif %}
                                      {% else %}
                                      <input type="checkbox" class="mL30"  name="{{ key }}-3-1"> Edit
                                     
                                      {% endif %}
                                      </label>
                                  </div>
                                   <div class="checkbox">
                                    <label>
                                      {% if key in listmodule  %}
                                         {% if  listmodule|role_permissions_delete:key  %}
                                         
                                         <input type="checkbox" class="mL30" checked name="{{ key }}-4-1"> Delete
                                         {% else %}
                                          <input type="checkbox" class="mL30"  name="{{ key }}-4-1"> Delete
                                          {% endif %}
                                      {% else %}
                                      <input type="checkbox" class="mL30"  name="{{ key }}-4-1"> Delete
                                     
                                      {% endif %}
                                      </label>
                                  </div>
                                   
                              </div>
                          </div>
                      {% endfor %}
                      
                        
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" value="submit" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
   
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
{% endblock %}