{% extends 'includes/base.html' %}
{% load staticfiles %}
{% load filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<script type="text/javascript">
/* Custom filtering function which will search data in column four between two values */
  
  $(document).ready(function() {
    
    var oTable = $('.datatable').dataTable({
          
        "processing": true,
        "serverSide": true,
        "ajax": "/datatable/template/",
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
               
                var select = $('<label></label><input type="date" class="timepicker" value="">')
                    .appendTo( $(column.footer()).empty() )
                    .datepicker({
                                changeMonth: true,
                                changeYear: true,
                                
                                dateFormat: "yy-mm-dd",
                                defaultDate: '2016-01-01',
                                
                            })
                    .on( 'change', function () {
                     
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
        
                
            } );
        }
    });


  
});
  
  $('.timepicker').click(function(){
  alert("efef");
                           
                        });
  function deleteRoles(item_id){
    if(confirm('Are you sure?')){
    $.ajax({
        
        url: "/roles/delete/"+item_id,
        type: "DELETE",
        dataType: "json",
        beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
        }, 
      success: function(response) {
             alert(response.message);
             //prepareDataTable();
             $("#example").dataTable().fnDraw();
        },
        
    })
  }
}
 
</script>
<style type="text/css">
  tfoot {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.rmove-brdr{box-shadow:none !important;border:0 !important;}

</style>
 <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
      <section class="content-header">
    <h1 class="pull-left">
            List Templates
    </h1>
   <div>&nbsp;</div>
    <h3 class="box-title">
      {% if addPermission == 1 %}
      <a class=" pull-right btn btn-danger btn-sm detail-butoon" href="/template/add" title="Details">Add Template</a>
      {% endif %}
      <div>&nbsp;</div>    
    </h3>     
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{request.get_full_path}}">{{request.get_full_path|split:"/"|capfirst }}</a></li>
      </ol>
   
  </section>
      <!-- Main content -->
      <section class="content">
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         {% if flash.success %}
        <!-- There's a flash-scoped object under the 'message' key -->
         
       <div class="alert alert-success alert-dismissable">
            <p>{{ flash.success }}</p>
        </div>
    {% endif %}
         <div class="box-header">
                      <table id="example" class="datatable datpicker-clr" width="100%">
     
      <thead class="table-hd">
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Template</th>
        <th>Business</th>
        <th>Action</th>
     
                               
        
        </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
                      
       
                                
                                
      </tr>
      </tbody>
      </table>
                     
                    </div>
          <div class="box-body table-responsive">

          </div>
        </div><!-- /.box -->
      </div>
      
    </div>
    </section>
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
 
{% endblock %}

