﻿{% extends 'includes/base.html' %}
{% load staticfiles %}
{% block content %} <section class="content-header">
    <h1 class="pull-left">
      Update Profile

    </h1>
   
    <div>&nbsp;</div>
    <div>&nbsp;</div>
{% if flash.success %}
        <!-- There's a flash-scoped object under the 'message' key -->
         
       <div class="alert alert-success alert-dismissable">
            <p>{{ flash.success }}</p>
        </div>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="new-alert alert-error alert-dismissable">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <form method="post" enctype="multipart/form-data" novalidate class="form-horizontal" >
                    <div class="box-body">     
                       
                        {% csrf_token %}
                        {% for field in form %}

                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="{{ field.name }}">{{ field.label }}</label>

                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script>
                        $(function () {
                            $("#dob").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                maxDate: '-18Y',
                                minDate: '-100Y',
                                yearRange: "-100:+0",
                                dateFormat: "yy-mm-dd",
                                defaultDate: '1990-06-01',
                              
                            });
                        });
                        
                        
                        
    </script>
    {% endblock %}

