{% extends 'includes/base.html' %}

{% block content %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
          <h1>
            My Appintment List

           
          </h1>
        <!--  <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
          </ol>-->
       
         
        </section>
            <!-- Main content -->
            <section class="content">
          
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
               
                <div class="box-body table-responsive">
                
           
     
      
      
      
      
      <table cellspacing="0" cellpadding="0" border="0" class="display" id="Table1" >
        <tbody>
          <tr id="filter_global" >
            <td align="left"> Rendering engine </td>
            <td align="left" id="renderingEngineFilter"></td>
          </tr>
          <tr id="filter_col1">
            <td align="left"> Browser </td>
            <td align="left" id="browserFilter"></td>
          </tr>
          <tr id="filter_col2">
            <td align="left"> Datetime </td>
            <td align="left" id="platformsFilter"></td>
          </tr>
        </tbody>
      </table>
      <div id="demo">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
          <thead>
            <tr>
              <th> Rendering engine </th>
              <th> Browser </th>
              <th> Datetime </th>
              <th> Engine version </th>
              <th> CSS grade </th>
            </tr>
          </thead>
          <tfoot>
            <tr>
               <th style="border:0 !important"> </th>
            <th style="border:0 !important"> </th>
              <th style="border:0 !important"> </th>
             
            </tr>
          </tfoot>
          <tbody>
            <tr class="odd_gradeX" id="2">
              <td class="read_only"> Trident </td>
              <td> Internet Explorer 4.0 </td>
              <td> Win 95+ </td>
              <td class="center"> 4 </td>
              <td class="center"> X </td>
            </tr>
            <tr class="even_gradeC" id="4">
              <td> Trident </td>
              <td> Internet Explorer 5.0 </td>
              <td> Win 95+ </td>
              <td class="center"> 5 </td>
              <td class="center"> C </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Trident </td>
              <td> Internet Explorer 5.5 </td>
              <td> Win 95+ </td>
              <td class="center"> 5.5 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Trident </td>
              <td class="read_only"> Internet Explorer 6 </td>
              <td> Win 98+ </td>
              <td class="center"> 6 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Trident </td>
              <td> Internet Explorer 7 </td>
              <td class="read_only"> Win XP SP2+ </td>
              <td class="center"> 7 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Trident </td>
              <td> AOL browser (AOL desktop) </td>
              <td> Win XP </td>
              <td class="center"> 6 </td>
              <td class="center read_only"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko (UTF-8: $¢€) </td>
              <td> Firefox 1.0 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 1.7 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Firefox 1.5 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Firefox 2.0 </td>
              <td> 01/3/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Firefox 3.0 </td>
              <td> 01/6/2016 </td>
              <td class="center"> 1.9 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Camino 1.0 </td>
              <td> 01/6/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Camino 1.5 </td>
              <td> 01/8/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Netscape 7.2 </td>
              <td> 01/8/2016 </td>
              <td class="center"> 1.7 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Netscape Browser 8 </td>
              <td> 01/4/2016 </td>
              <td class="center"> 1.7 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Netscape Navigator 9 </td>
              <td> 01/3/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Mozilla 1.0 </td>
              <td> 01/4/2016 </td>
              <td class="center"> 1 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Mozilla 1.1 </td>
              <td> 01/5/2016 </td>
              <td class="center"> 1.1 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Mozilla 1.2 </td>
              <td> 01/5/2016 </td>
              <td class="center"> 1.2 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Mozilla 1.3 </td>
              <td> 01/6/2016 </td>
              <td class="center"> 1.3 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Mozilla 1.4 </td>
              <td> 01/7/2016 </td>
              <td class="center"> 1.4 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Mozilla 1.5 </td>
              <td> 01/7/2016 </td>
              <td class="center"> 1.5 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Mozilla 1.6 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 1.6 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Mozilla 1.7 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 1.7 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Mozilla 1.8 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Gecko </td>
              <td> Seamonkey 1.1 </td>
              <td> 01/5/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Gecko </td>
              <td> Epiphany 2.20 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 1.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Webkit </td>
              <td> Safari 1.2 </td>
              <td> 01/2/2016 </td>
              <td class="center"> 125.5 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Webkit </td>
              <td> Safari 1.3 </td>
              <td> 01/5/2016 </td>
              <td class="center"> 312.8 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Webkit </td>
              <td> Safari 2.0 </td>
              <td> OSX.4+ </td>
              <td class="center"> 419.3 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Webkit </td>
              <td> Safari 3.0 </td>
              <td> OSX.4+ </td>
              <td class="center"> 522.1 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Webkit </td>
              <td> OmniWeb 5.5 </td>
              <td> OSX.4+ </td>
              <td class="center"> 420 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Webkit </td>
              <td> iPod Touch / iPhone </td>
              <td> iPod </td>
              <td class="center"> 420.1 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Webkit </td>
              <td> S60 </td>
              <td> S60 </td>
              <td class="center"> 413 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Presto </td>
              <td> Opera 7.0 </td>
              <td> Win 95+ / OSX.1+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Presto </td>
              <td> Opera 7.5 </td>
              <td> Win 95+ / OSX.2+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Presto </td>
              <td> Opera 8.0 </td>
              <td> Win 95+ / OSX.2+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Presto </td>
              <td> Opera 8.5 </td>
              <td> Win 95+ / OSX.2+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Presto </td>
              <td> Opera 9.0 </td>
              <td> Win 95+ / OSX.3+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Presto </td>
              <td> Opera 9.2 </td>
              <td> Win 88+ / OSX.3+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Presto </td>
              <td> Opera 9.5 </td>
              <td> Win 88+ / OSX.3+ </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Presto </td>
              <td> Opera for Wii </td>
              <td> Wii </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Presto </td>
              <td> Nokia N800 </td>
              <td> N800 </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Presto </td>
              <td> Nintendo DS browser </td>
              <td> Nintendo DS </td>
              <td class="center"> 8.5 </td>
              <td class="center"> C/A<sup>1</sup></td>
            </tr>
            <tr class="even_gradeC" id="4">
              <td> KHTML </td>
              <td> Konqureror 3.1 </td>
              <td> KDE 3.1 </td>
              <td class="center"> 3.1 </td>
              <td class="center"> C </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> KHTML </td>
              <td> Konqureror 3.3 </td>
              <td> KDE 3.3 </td>
              <td class="center"> 3.3 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> KHTML </td>
              <td> Konqureror 3.5 </td>
              <td> KDE 3.5 </td>
              <td class="center"> 3.5 </td>
              <td class="center"> A </td>
            </tr>
            <tr class="odd_gradeX" id="2">
              <td> Tasman </td>
              <td> Internet Explorer 4.5 </td>
              <td> Mac OS 8-9 </td>
              <td class="center"> - </td>
              <td class="center"> X </td>
            </tr>
            <tr class="even_gradeC" id="4">
              <td> Tasman </td>
              <td> Internet Explorer 5.1 </td>
              <td> Mac OS 7.6-9 </td>
              <td class="center"> 1 </td>
              <td class="center"> C </td>
            </tr>
            <tr class="odd_gradeC" id="3">
              <td> Tasman </td>
              <td> Internet Explorer 5.2 </td>
              <td> Mac OS 8-X </td>
              <td class="center"> 1 </td>
              <td class="center"> C </td>
            </tr>
            <tr class="even_gradeA" id="1">
              <td> Misc </td>
              <td> NetFront 3.1 </td>
              <td> Embedded devices </td>
              <td class="center"> - </td>
              <td class="center"> C </td>
            </tr>
            <tr class="odd_gradeA" id="5">
              <td> Misc </td>
              <td> NetFront 3.4 </td>
              <td> Embedded devices </td>
              <td class="center"> - </td>
              <td class="center"> A </td>
            </tr>
            <tr class="even_gradeX" id="11">
              <td> Misc </td>
              <td> Dillo 0.8 </td>
              <td> Embedded devices </td>
              <td class="center"> - </td>
              <td class="center"> X </td>
            </tr>
            <tr class="odd_gradeX" id="2">
              <td> Misc </td>
              <td> Links </td>
              <td> Text only </td>
              <td class="center"> - </td>
              <td class="center"> X </td>
            </tr>
            <tr class="even_gradeX" id="11">
              <td> Misc </td>
              <td> Lynx </td>
              <td> Text only </td>
              <td class="center"> - </td>
              <td class="center"> X </td>
            </tr>
            <tr class="odd_gradeC" id="3">
              <td> Misc </td>
              <td> IE Mobile </td>
              <td> Windows Mobile 6 </td>
              <td class="center"> - </td>
              <td class="center"> C </td>
            </tr>
            <tr class="even_gradeC" id="4">
              <td> Misc </td>
              <td> PSP browser </td>
              <td> PSP </td>
              <td class="center"> - </td>
              <td class="center"> C </td>
            </tr>
            <tr class="odd_gradeU" id="10">
              <td> Other browsers </td>
              <td> All others </td>
              <td> - </td>
              <td class="center"> - </td>
              <td class="center"> U </td>
            </tr>
          </tbody>
        </table>
     
         <div class="spacer"> </div>
        <div style="padding:5px 0;"></div>
      </div>
      <div class="spacer"> </div>
 

  
</div>
                  
                </div>
              </div><!-- /.box -->
            </div>
        </div>
{% endblock %}
