<body>
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 640px !important;">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 640px !important;">
                        <tr>
                            <td valign="top" id="templatePreheader">
                                <hr style="color: #272847; border-width: 2px; border-color: #272847;" />
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnImageBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 9px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px;
                                                                padding-top: 0; padding-bottom: 0; text-align: center;">
                                                                <a href="http://www.doctorinsta.com" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/1.jpg" width="370" style="max-width: 370px; padding-bottom: 0;
                                                                        display: inline !important; vertical-align: bottom;" class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnImageBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 0px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px;
                                                                padding-top: 0; padding-bottom: 0; text-align: center;">
                                                                <a href="http://www.doctorinsta.com" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/2.jpg" width="600" style="max-width: 3440px; padding-bottom: 0;
                                                                        display: inline !important; vertical-align: bottom;" class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnTextBlockOuter">
                                        <tr>
                                            <td valign="top">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-right: 18px;
                                                                padding-bottom: 9px; padding-left: 18px; color: #656565; font-family: Helvetica;
                                                                font-size: 15px; line-height: 150%; text-align: justify;">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                                                                    style="border-collapse: separate !important; border-radius: 3px; background-color: #DD2929;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial;
                                                                                font-size: 16px; padding: 15px;">
                                                                              <span style="font-weight: bold;
                                                                                    letter-spacing: normal; line-height: 100%; text-align: center; text-decoration: none;
                                                                                    color: #FFFFFF;">password :     {{ passwordvalue}}</span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <br />
                                                                Welcome, {{ fullname }} !&nbsp;<br />
                                                                <br />
                                                                We are very excited to have you join us on a journey to a healthier, happier and
                                                                Longer life.<br />
                                                                <br />
                                                                Now, You can consult the Best & Brightest Doctors, Psychologists, Sexologists, Dieticians,
                                                                Gynaecologists and Child Specialists of the Country through Video, Phone & Chat.<br />
                                                                <br />
                                                                You do not have to waste 3-4 hours of your time in dealing with Traffic, Parking
                                                                and waiting in the waiting rooms of the Clinic/Hospital.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnButtonBlockOuter">
                                        <tr>
                                            <td style="padding-top: 0; padding-right: 18px; padding-bottom: 18px; padding-left: 18px;"
                                                valign="top" align="center" class="mcnButtonBlockInner">
                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate !important;
                                                    border-radius: 3px; background-color: #DD2929;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial;
                                                                font-size: 16px; padding: 15px;">
                                                                <a class="mcnButton " title="START EXPLORING" href="http://www.doctorinsta.com/"
                                                                    target="_blank" style="font-weight: bold; letter-spacing: normal; line-height: 100%;
                                                                    text-align: center; text-decoration: none; color: #FFFFFF;">START EXPLORING</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnImageBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 0px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px;
                                                                padding-top: 0; padding-bottom: 0; text-align: center;">
                                                                <img alt="" src="http://www.doctorinsta.com/imagesemail/3.jpg" width="600" style="max-width: 3886px; padding-bottom: 0;
                                                                    display: inline !important; vertical-align: bottom;" class="mcnImage" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnImageBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 9px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px;
                                                                padding-top: 0; padding-bottom: 0; text-align: center;">
                                                                <a href="http://www.doctorinsta.com/fullvideo.php" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/4.jpg" width="564" style="max-width: 2265px; padding-bottom: 0;
                                                                        display: inline !important; vertical-align: bottom;" class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnTextBlockOuter">
                                        <tr>
                                            <td valign="top" class="mcnTextBlockInner">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-right: 18px;
                                                                padding-bottom: 9px; padding-left: 18px;">
                                                                <div style="text-align: center;">
                                                                    <span style="color: #000000"><span style="font-size: 21px; font-family: Helvetica;
                                                                        line-height: 150%; text-align: justify;"><strong>Here are the things you can do on Doctor
                                                                            Insta:</strong></span></span></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" id="templateHeader">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageGroupBlock">
                                    <tbody class="mcnImageGroupBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 9px" class="mcnImageGroupBlockInner">
                                                <table align="left" width="273" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageGroupContent" valign="top" style="padding-left: 9px; padding-top: 0;
                                                                padding-bottom: 0;">
                                                                <a href="http://www.doctorinsta.com/news.php" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/11.jpg" width="280" style="max-width: 1800px; padding-bottom: 0;"
                                                                        class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table align="right" width="273" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageGroupContent" valign="top" style="padding-right: 9px; padding-top: 0;
                                                                padding-bottom: 0;">
                                                                <a href="http://www.doctorinsta.com" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/22.jpg" width="280" style="max-width: 1800px; padding-bottom: 0;"
                                                                        class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageGroupBlock">
                                    <tbody class="mcnImageGroupBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 9px" class="mcnImageGroupBlockInner">
                                                <table align="left" width="273" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageGroupContent" valign="top" style="padding-left: 9px; padding-top: 0;
                                                                padding-bottom: 0;">
                                                                <a href="http://webapp.doctorinsta.com/login" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/13.jpg" width="280" style="max-width: 1800px; padding-bottom: 0;"
                                                                        class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table align="right" width="273" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageGroupContent" valign="top" style="padding-right: 9px; padding-top: 0;
                                                                padding-bottom: 0;">
                                                                <a href="http://www.doctorinsta.com/blog.php" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/23.jpg" width="280" style="max-width: 1800px; padding-bottom: 0;"
                                                                        class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnButtonBlockOuter">
                                        <tr>
                                            <td style="padding-top: 0; padding-right: 18px; padding-bottom: 18px; padding-left: 18px;"
                                                valign="top" align="center" class="mcnButtonBlockInner">
                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate !important;
                                                    border-radius: 3px; background-color: #DD2929;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial;
                                                                font-size: 16px; padding: 15px;">
                                                                <a class="mcnButton " title="GET STARTED" href="http://www.doctorinsta.com/" target="_blank"
                                                                    style="font-weight: bold; letter-spacing: normal; line-height: 100%; text-align: center;
                                                                    text-decoration: none; color: #FFFFFF;">GET STARTED</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnTextBlockOuter">
                                        <tr>
                                            <td valign="top" class="mcnTextBlockInner">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-right: 18px;
                                                                padding-bottom: 9px; padding-left: 18px; color: #656565; font-family: Helvetica;
                                                                font-size: 15px; line-height: 150%; text-align: justify;">
                                                                We genuinely value your feedback. So please do not hesitate to get in contact with
                                                                us at support@DoctorInsta.com.&nbsp;<br />
                                                                <br />
                                                                Wishing you great health and happiness.&nbsp;<br />
                                                                <br />
                                                                Team Doctor Insta
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnDividerBlockOuter">
                                        <tr>
                                            <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 18px;">
                                                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width: 100%; border-top-width: 2px; border-top-style: solid; border-top-color: #EAEAEA;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <span></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" id="templateBody">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnImageBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 9px" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" align="center" style="padding-top: 9px; padding-right: 18px; padding-bottom: 9px;
                                                                padding-left: 18px; color: #656565; font-family: Helvetica; font-size: 15px;
                                                                font-weight: bold;">
                                                                Download <span style="color: Red;">Doctor Insta</span> Insta App Access smarter
                                                                healthcare on the go
                                                            </td>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-right: 18px;
                                                                padding-bottom: 9px; padding-left: 18px;">
                                                                <a href="https://play.google.com/store/apps/details?id=com.main.drinsta&hl=en" target="_blank">
                                                                    <img src="http://www.doctorinsta.com/imagesemail/android.png" width="120" style="max-width: 519px; padding-bottom: 0;"
                                                                        class="mcnImage" /></a>
                                                            </td>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-right: 18px;
                                                                padding-bottom: 9px; padding-left: 18px;">
                                                                <a href="https://itunes.apple.com/in/app/doctor-insta/id1028989112" target="_blank">
                                                                    <img alt="" src="http://www.doctorinsta.com/imagesemail/apple.png" width="120" style="max-width: 519px; padding-bottom: 0;"
                                                                        class="mcnImage" /></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" id="templateFooter">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                                    style="min-width: 100%;">
                                    <tbody class="mcnTextBlockOuter">
                                        <tr>
                                            <td class="mcnTextBlockInner">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-left: 18px;
                                                                padding-bottom: 9px; padding-right: 0;">
                                                                <div style="line-height: 20.8px; text-align: center;">
                                                                    <div style="line-height: 20.8px; text-align: center;">
                                                                        <span style="color: #000000; font-family: tahoma,verdana,segoe,sans-serif; font-size: 21px;
                                                                            line-height: 20.8px;">Follow Us:&nbsp;</span></div>
                                                                    <div style="line-height: 20.8px; text-align: center;">
                                                                        <br style="line-height: 20px;" />
                                                                        <a href="https://www.facebook.com/DoctorInsta" style="line-height: 20.8px;" target="_blank"
                                                                            title="blank">
                                                                            <img alt="" height="24" src="http://www.doctorinsta.com/imagesemail/facebook.png" style="width: 24px; height: 24px;" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <a href="https://www.linkedin.com/company/doctor-insta" style="line-height: 20.8px;"
                                                                            target="_blank" title="blank">
                                                                            <img alt="" height="24" src="http://www.doctorinsta.com/imagesemail/linkedin-icon.png" style="width: 24px; height: 24px;" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <a href="https://twitter.com/doctorinsta" style="line-height: 20.8px;" target="_blank"
                                                                            title="blank">
                                                                            <img alt="" height="24" src="http://www.doctorinsta.com/imagesemail/twitter-icon.png" style="width: 24px; height: 24px;" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <a href="https://www.pinterest.com/doctorinsta/" style="line-height: 20.8px;" target="_blank"
                                                                            title="blank">
                                                                            <img alt="" height="24" src="http://www.doctorinsta.com/imagesemail/pinterest-icon.png" style="width: 24px; height: 24px;" /></a>
                                                                        &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.pinterest.com/doctorinsta/" style="line-height: 20.8px;"
                                                                            target="_blank" title="blank"></a><a href="https://plus.google.com/116251656392020309355/posts"
                                                                                style="line-height: 20.8px;" target="_blank" title="blank">
                                                                                <img alt="" height="24" src="http://www.doctorinsta.com/imagesemail/Web-Google-plus-alt-Metro-icon.png" style="width: 24px;
                                                                                    height: 24px;" /></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.youtube.com/channel/UC2thhmekr8dU7XQjo-9UwaQ"
                                                                                        style="line-height: 20.8px;" target="_blank" title="blank">
                                                                                        <img alt="" height="24" src="http://www.doctorinsta.com/imagesemail/YouTube.png" style="width: 24px; height: 24px;" /></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="mcnTextBlockInner">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="282px">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top: 9px; padding-right: 18px;
                                                                padding-bottom: 9px; padding-left: 18px;">
                                                                <div style="line-height: 20.8px; text-align: center;">
                                                                    <span style="font-family: tahoma,verdana,segoe,sans-serif; font-size: 20px; line-height: 20.8px">
                                                                        Support@DoctorInsta.com</span></div>
                                                                <div style="line-height: 20.8px; text-align: center;">
                                                                    <br style="font-family: tahoma, verdana, segoe, sans-serif; font-size: 20px; line-height: 20.8px;">
                                                                    <span style="font-family: tahoma,verdana,segoe,sans-serif; font-size: 20px; line-height: 20.8px">
                                                                        +91-9999-270-567</span></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>

