{% extends 'includes/base.html' %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1 class="pull-left">
    Add Roles
    </h1>
   
    
    <div>&nbsp;<div>    
          
          
  <!--  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>-->
 
   
  </section>
      <div>&nbsp;</div>
        <div>&nbsp;</div>
      {% if form.errors %}
            
            {% for error in form.non_field_errors %}
                <div class="new-alert alert-error alert-dismissable">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
      <!-- Main content -->
     <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <form method="post" class="form-horizontal">
                    <div class="box-body">    
{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="col-sm-1 control-label">
    {{ field.label }}
<div class="col-sm-10">
  
    {{ field() }}
  {% if field.errors or field.help_text %}
    <span class="new-alert alert-error alert-dismissable">
    {% if field.errors %}
      {{ field.errors|join(' ') }}
    {% else %}
      {{ field.help_text }}
    {% endif %}
    </span>
  {% endif %}
</div>
</div>
{% endif %}
{% endfor %}
</fieldset>
{% endmacro %}
                        
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" value="submit" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
   
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
{% endblock %}