{% extends 'includes/base.html' %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1 class="pull-left">
    Add Roles
    </h1>
   
    
    <div>&nbsp;<div>    
          
          
  <!--  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>-->
 
   
  </section>
      <div>&nbsp;</div>
        <div>&nbsp;</div>
      
      <!-- Main content -->
     <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <form action="/role_create" role="form" method="post" class="form-horizontal" >
                    <div class="box-body">    
                     
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="first_name">Name *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="name"  type="text" placeholder="Name" required = "true" name="name" value=""/>
                    </div>
                </div> 
                    
                       {% for key, value in dictmodule.iteritems() %}
                      
                               
                           <div class="form-group col-sm-4">
                           <label for="{{ key }}" class="col-sm-3 control-label"> {{ value }}</label>
                            <div class="col-sm-9">
                                   
                                  <div class="checkbox">
                                    <label>

                                      {% if key in listmodule %}
                                       <input type="checkbox" class="mL30" checked name="{{ key }}-1"> Read
                                      {% else %}
                                      <input type="checkbox"  class="mL30" name="{{ key }}-1"> Read
                                     
                                      {% endif %}

                                    </label>
                                  </div>
                                 
                                    <div class="checkbox">
                                    <label>
                                      {% if key in listmodule  %}
                                       
                                         <input type="checkbox" class="mL30" checked name="{{ key }}-2"> Add
                                      {% else %}
                                      <input type="checkbox"  class="mL30" name="{{ key }}-2"> Add
                                     
                                      {% endif %}
                                      </label>
                                  </div>
                                  <div class="checkbox">
                                     <label>
                                      {% if key in listmodule  %}
                                        
                                         <input type="checkbox"  class="mL30" checked name="{{ key }}-3"> Edit
                                      {% else %}
                                      <input type="checkbox" class="mL30"  name="{{ key }}-3"> Edit
                                     
                                      {% endif %}
                                      </label>
                                  </div>
                                   <div class="checkbox">
                                    <label>
                                      {% if key in listmodule  %}
                                         
                                         <input type="checkbox" class="mL30" checked name="{{ key }}-4"> Delete
                                      {% else %}
                                      <input type="checkbox" class="mL30"  name="{{ key }}-4"> Delete
                                     
                                      {% endif %}
                                      </label>
                                  </div>
                                   
                              </div>
                          </div>
                      {% endfor %}
                      
                        
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" value="submit" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      
    <link rel="stylesheet" href="static/css/jquery-ui.css">
   
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
{% endblock %}