{% extends 'includes/base.html' %}
{% block content %}
<link rel="stylesheet" href="static/css/jquery-ui.css">
<script type="text/javascript">
/* Custom filtering function which will search data in column four between two values */
  $(document).ready(function(){  
      $('#example').DataTable({  
           "ajax"     :   "/datatable/roles/",  
           "columns"     :     [  
                {     "data"     :     "name"     },  
                {     "data"     :     "date_updated"}, 
                {     "data"     :     "actions"} 
           ]  
      });  
 });


  $('.timepicker').click(function(){
  alert("efef");
                           
                        });
  function deleteRoles(item_id){
    if(confirm('Are you sure?')){
    $.ajax({
        
        url: "/roles",
        type: "DELETE",
        data:{_id:item_id},
        dataType: "json",
        beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
        }, 
      success: function(response) {
             alert(response.message);
             //prepareDataTable();
             $('#example').DataTable().ajax.reload();
        },
        
    })
  }
}
 
</script>
<style type="text/css">
  tfoot {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.rmove-brdr{box-shadow:none !important;border:0 !important;}

</style>
 <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
      <section class="content-header">
    <h1 class="pull-left">
            List Roles
    </h1>
   <div>&nbsp;</div>
    <h3 class="box-title">
      <a class=" pull-right btn btn-danger btn-sm detail-butoon" href="/role_create" title="Details">Add Roles</a>
      {% if addPermission == 1 %}
      {% endif %}
      <div>&nbsp;</div>    
    </h3>     
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/roles">Roles</a></li>
      </ol>
   
  </section>
      <!-- Main content -->
      <section class="content">
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         
         <div class="box-header">
             <table id="example" class="datatable datpicker-clr" width="100%">  
                     <thead>  
                          <tr>  
                               <th>Name</th>  
                               <th>Date Updated</th>  
                               <th>Actions</th>  
                          </tr>  
                     </thead>  
                </table>
            </div>
          <div class="box-body table-responsive">

          </div>
        </div><!-- /.box -->
      </div>
      
    </div>
    </section>
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
 
{% endblock %}

