{% extends 'includes/base.html' %}
{% block title %}Dashboard | Admin{% endblock %}

{% block content %}

<style type="text/css">
    td {
    text-align: center;
    border: 1px solid #ccc !important;
    }
    th {
    text-align: center;
    border: 1px solid #333 !important;
    box-shadow: none !important;
    }
    #legend ul {
    list-style: none;
    }
    #legend ul li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    }
    #legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 75%;
    border-radius: 2px;
    }
    #legend1 ul {
    list-style: none;
    }
    #legend1 ul li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 2px ;
    padding: 2px 8px 2px 28px;
    font-size: 12px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    }
    #legend1 li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 75%;
    border-radius: 2px;
    }
    #chart-area > *{
    float:left
    }
</style>
<section class="content-header">
    <h1 class="dtepckr">
        Dashboard
    </h1>
    <br>
    <br>
    <div class="row">
        <div class="mn-dtpckr dtepckr">
            <div class="dtepckr">
                <label for="slot_date" class="col-sm-1 control-label">From</label>
                <div class="col-sm-4">
                  <input id="from" class="form-control slots inpt-dtpckr" readonly type="text" name="slot_date">
                </div>
                <label for="slot_date" class="col-sm-1 control-label">To</label>
                <div class="col-sm-4">
                  <input id="to" class="form-control slots" type="text" readonly name="slot_date">
                </div>
                <button id="searchdata" class="snd-btn">Submit</button>
            </div>
        </div>
    </div>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        {{ menu }}
        <li class="active">Dashboard</li>
      </ol>

</section>

<section class="content">

<!-- Main row -->

           
<!--       <div class="row">
    <div class="col-md-6 ">
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><b>procedure</b></h3>
              <hr></hr>
              <br><br>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
                <canvas id="myChart" width="450" height="200"></canvas>
    
              </div>
          </div>
          <div id="barBody" class="box-body">
            <canvas id="barChart" style="height: 298px; width: 596px;" width="596" height="298"></canvas>
          </div>
        </div> -->

<link rel="stylesheet" href="static/css/jquery-ui.css">
 
{% endblock %}
