﻿#dt_example {
        font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
}


#dt_example #container {
        width: 800px;
        margin: 30px auto;
        padding: 0;
}


#dt_example #footer {
        margin: 50px auto 0 auto;
        padding: 0;
}

#dt_example #demo {
        margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
        margin: 30px auto 0 auto;
}

#dt_example .big {
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1.6em;
        color: #4E6CA3;
}

#dt_example .spacer {
        height: 20px;
        clear: both;
}

#dt_example .clear {
        clear: both;
}

#dt_example pre {
        padding: 15px;
        background-color: #F5F5F5;
        border: 1px solid #CCCCCC;
}

#dt_example h1 {
        margin-top: 2em;
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1.6em;
        color: #4E6CA3;
        border-bottom: 1px solid #B0BED9;
        clear: both;
}

#dt_example h2 {
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.6em;
        color: #4E6CA3;
        clear: both;
}

#dt_example a {
        color: #0063DC;
        text-decoration: none;
}

#dt_example a:hover {
        text-decoration: underline;
}

#dt_example ul {
        color: #4E6CA3;
}

.css_right {
        float: right;
}

.css_left {
        float: left;
}

.align
{
   
    font-weight:bold; 
}
.linespace
{
    padding:10px 0;
}

.align2
{
  float:left;   
}


strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;

	line-height: 24px;
	
	text-align: left;
	width: 100%;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
padding:0 2px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

.dataTables_length {float:left;width:40%;}
#example_filter{float:right;width:50%;text-align:right;}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	


	


	/* Component containers----------------------------------*/
	.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
	.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
	.ui-widget-content a { color: #222222; }
	.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
	.ui-widget-header a { color: #222222; }
	
	

	
	
	/* Misc visuals----------------------------------*/

/* Corner radius */
	.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
	.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
	.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
	.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
	
/* Overlays */
	.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
	.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }
	/* Accordion----------------------------------*/
	.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
	.ui-accordion .ui-accordion-li-fix { display: inline; }
	.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
	.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
	.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }
/* Datepicker----------------------------------*/
.ui-datepicker { width: 21em; padding: .2em .2em 0; }
	.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 2.5em; height: 1.8em; }
	.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:12px; }
	.ui-datepicker .ui-datepicker-next { right:12px; }
	.ui-datepicker .ui-datepicker-prev-hover { left:12px; }
	.ui-datepicker .ui-datepicker-next-hover { right:12px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -18px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
	.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
	.ui-datepicker select.ui-datepicker-month,
	.ui-datepicker select.ui-datepicker-year { width: 49%;}
	.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
	.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
	.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
	.ui-datepicker td { border: 0; padding: 1px; }
	.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
	.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
	.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
	
	/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
	.ui-datepicker-multi .ui-datepicker-group { float:left; }
	.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
	.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
	.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
	.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
	.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
	.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }
	
/* RTL support */
	.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
	.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
	.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
	.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
	.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
	.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
	.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.dataTables_info{margin:10px 0;}
.paginate_disabled_previous{border:1px solid #ccc;cursor:pointer;border-radius:5px;padding:10px;margin-right:10px;}
.paginate_enabled_previous{border:1px solid #ccc;cursor:pointer;border-radius:5px;padding:10px;margin-right:10px;}
.paginate_enabled_previous:hover{background:#ccc;}
	.paginate_enabled_next{border:1px solid #ccc;cursor:pointer;border-radius:5px;padding:10px;}
	.paginate_disabled_next{border:1px solid #ccc;cursor:pointer;border-radius:5px;padding:10px;}
		.paginate_enabled_next:hover{background:#ccc;}
	#example_paginate{margin-top:20px;}
	
	#example_wrapper{margin-top:10px;}
	.clr{clear:both;margin:20px 0;}
	#filter_global{margin:40px 0;}