 {% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible"content ="ie=edge">
    <meta name="viewport" content="width=device_width,intital-scale=1">
    {% include 'base/css.html' %}
    {% include 'includes/head_tag_content.html' %}
    <title>
    {% block title %}Simplify Reality Dashboard | Admin Panel | {{title}}{% endblock %}
    </title>
    {% include 'base/bootstrap_defaults.html'%}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    {% include 'base/js.html' %} 
    <script>
    {% block jquery %}{% endblock %}
    </script>
    <div class="wrapper">
    
    {% include 'includes/header.html' %}
    
    {% include 'includes/left_panel.html' %}
    <div class="content-wrapper" >
    <section class="content">
    <div class="row">
    {% block content %}
    {% endblock %}
    </div>
    </section>
    </div>
    {% include 'includes/footer.html' %}
    </div>
    
    
   
</body>
</html>
