<!-- <link href="static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" /> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Admin Login | Healora Inc.</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/bootstrap-reset.css" rel="stylesheet" type="text/css" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/bootstrap-reset.css" rel="stylesheet" />
    
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="static/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="static/css/style.css" rel="stylesheet" />
</head>
<body class="login-body">
    <header class="header white-bg">
              <!--logo start-->
              <a href="#" class="logo" ></a>
              </header>

    <div class="container">
        <div class="span-19" style="width: 100%; float: none;">
            <div id="content">
                <div class="form">
                    <form class="form-signin" id="login-form" action="/login" role="form" method="post" align="center">
                    <label style = "color: black;font-family: 'Exo', sans-serif;font-size: 16px;font-weight: 800;"></label>
                    <h2 class="form-signin-heading">Login</h2>
                    <div class="login-wrap">
                        <div class="row">
                    <input class="form-control"  type="text" placeholder="username" required = "true" name="username" value="{{username}}"/>
                    <input type="password" placeholder="password" name="password" value="" class="form-control textinput textInput" id="id_password" required/>
                </div>
                        <a class="forgot-password" href="/user/password/reset" >Forgot Password?</a>
                        <div class="row buttons">
                            <input class="btn btn-lg btn-login btn-block" type="submit" name="yt0" value="Login" />
                        </div>
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                            {% if errors %}
                            <div class="errorMessage" id="LoginForm_username_em_">
                              <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                              </ul>
                            </div>
                            {% endif %}
                            {% endwith %}
                    </div>
                    </form>
                </div>
            

            </div>
            <!-- content -->
        </div>
    </div>
</body>
</html>