<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Version</b> 2.3.0
	</div>
<strong>&copy; Copyright 2018 Healora Inc. |<a href="#"> Terms of Use & Privacy Policy</a></strong>
</footer>
<!-- jQuery 2.1.4 -->

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip 
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>-->

