<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport" />
<!-- Bootstrap 3.3.5 -->
<link href="static/Dashboardcss/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/Dashboardcss/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="static/Dashboardcss/AdminLTE.min.css" rel="stylesheet" type="text/css" />
<link href="static/Dashboardcss/skin-blue.css" rel="stylesheet" type="text/css" />
<link href="static/Dashboardcss/table.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="static/css/jquery-ui.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<link rel="stylesheet"  href="static/css/buttons.css">
<link rel="stylesheet"  href="static/css/multiple-select.css">
<link rel="stylesheet"  href="static/css/chosen.css">
<script src="static/js/jQuery-2.1.4.min.js" type="text/javascript"></script>


<script src="static/js/app.min.js" type="text/javascript"></script>
<script src="static/menu/bootstrap3-wysihtml5.all.min.js"></script>
 <!----Menu ---->
<!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
 --><link href="static/menu/menu.css" rel="stylesheet" type="text/css" />
<script src="static/menu/script.js" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script>


<script src="static/js/demo.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="static/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="static/js/jquery.dataTables.columnFilter.js"></script>
<script src="static/js/jquery-ui.js"></script>
<script src="static/js/button.js"></script>

<script src="static/js/button-flash.js"></script>
<script src="static/js/prints.js"></script>
<script src="static/js/buttonchal.js"></script>


<script src="static/js/pdfmake.min.js"></script>
<script src="static/js/vfs_fonts.js"></script>
<script src="static/js/buttons.html5.min.js"></script>
<script src="static/js/chosen.jquery.js"></script>
<script src="static/js/multiple-select.js" type="text/javascript"></script>
<script src="static/js/Chart.min.js"></script>
<!--end menu ---->
