<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport" />
<!-- Bootstrap 3.3.5 -->
<link href="{{ url_for('static', filename='Dashboardcss/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='Dashboardcss/AdminLTE.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='Dashboardcss/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='Dashboardcss/skin-blue.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='Dashboardcss/table.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<link rel="stylesheet"  href="{{ url_for('static', filename='css/buttons.css')}}">
<link rel="stylesheet"  href="{{ url_for('static', filename='css/multiple-select.css')}}">
<link rel="stylesheet"  href="{{ url_for('static', filename='css/chosen.css')}}">
<script src="{{ url_for('static', filename='js/jQuery-2.1.4.min.js')}}" type="text/javascript"></script>


<script src="{{ url_for('static', filename='js/app.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='menu/bootstrap3-wysihtml5.all.min.js')}}"></script>
 <!----Menu ---->
<link href="{{ url_for('static', filename='menu/menu.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='menu/script.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>


<script src="{{ url_for('static', filename='js/demo.js')}}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css')}}">  
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.columnFilter.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
<script src="{{ url_for('static', filename='js/button.js')}}"></script>

<script src="{{ url_for('static', filename='js/button-flash.js')}}"></script>
<script src="{{ url_for('static', filename='js/prints.js')}}"></script>
<script src="{{ url_for('static', filename='js/buttonchal.js')}}"></script>


<script src="{{ url_for('static', filename='js/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='js/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/chosen.jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/multiple-select.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>
<!--end menu ---->
