<header class="main-header"> 
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>LT</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Admin Panel</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
         <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>-->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  
                  {% if profilePicture %}
                  <img src="/media/{{ profilePicture }}" class="user-image" alt="User Image">

                  {% else %}
                  <img src="{{ url_for('static', filename='images/user2-160x160.jpg')}}" class="user-image" alt="User Image">

                  {% endif %}
           
                  <span class="hidden-xs">{{username}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    
                  {% if profilePicture %}
                  <img src="/media/{{ profilePicture }}" class="user-image" alt="User Image">

                  {% else %}

                  <img src="{{ url_for('static', filename='images/user2-160x160.jpg')}}" class="user-image" alt="User Image">

                  {% endif %}
                    <p>
                      {{username}}
<!--                      <small>Member since Nov. 2012</small>-->
                    </p>
                  </li>
                  <!-- Menu Body -->
<!--                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>-->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="/my_profile" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
             
            </ul>
          </div>
        </nav>
      </header>

<script type="text/javascript">
$('document').ready(function(){
var activeHREF = window.location.pathname;

    $('#cssmenu').find("[href='" +activeHREF+ "']").parent().addClass("active")
    $('#cssmenu').find("[href='" +activeHREF+ "']").parent().parent().parent().addClass("open")
    $('#cssmenu').find("[href='" +activeHREF+ "']").parent().parent().css("display", "block")
  });
  

</script>