<!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">

                  {% if profilePicture %}
                  
                  <img src="/media/{{ profilePicture }}" class="user-image" alt="User Image">

                  {% else %}

                  <img src="{{ url_for('static', filename='images/user2-160x160.jpg')}}" class="img-circle" alt="User Image">

                  {% endif %}
            </div>
            <div class="pull-left info">
              <p>{{session['username']}}</p>
                
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form --><br>
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
<div id='cssmenu'>

    {{session['menu']|safe}}
    
</div>
        </section>
        <!-- /.sidebar -->
      </aside>