﻿<div ng-include="'layout/header.view.html'"></div>

<div class="clr"></div>

<section class="blog-mn">
  <div class="container">
     <div class="row">
        <div class="title-text">
          			  
        <a href="https://soundcloud.com/health-talks/" target="_blank"><img src="images/health_Talks.png" width="45"/> &nbsp; Listen To Our Podcast<a>
   
        </div>
     </div>
  </div>
</section>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div ng-repeat="blog in blogList" class="row">
             <a href="#/healthdetail/{{blog.url}}" class="content-box a-blog">
           <div class="item-holder col-md-4">
             <div class="image-box"><img src="{{blog.image}}" width="100%"/></div></div>
             <div class="content-box col-md-8">
             <h3>
              <span class="ptext" ng-if="blog.podcast">[PODCAST #{{blog.podcast}}] </span>{{blog.name}}</h3>
              
<p><i class="far fa-user"></i> {{blog.created_by}}</p>

             <p>{{blog.short_text}}</p>
           <p><i>{{blog.date_created}}</i></p>
             <a href="#/healthdetail/{{blog.url}}" class="button-read">Read More >></a>
             </div></a>
    </div>
    </div>
</div>

<div class="clr">&nbsp;</div>


<div ng-include="'layout/footer.view.html'"></div>
