﻿<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
</br>
</br>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div class="row">
        
        <div class="col-md-8"> 
           
           <div class="item-holder">
             
             <div class="blog-itemhd pull-left">
               <h3>{{detail.name}}</h3>
               <p><i class="far fa-user"></i> {{detail.created_by}}| <i class="far fa-calendar-alt"></i> {{detail.date_created}}</p>
             </div>
             
             
             
             <div class="image-box"><img src="{{detail.image}}" width="100%"/></div>
			 
			 <br>
			 
             <div class="blog-itemrgt pull-right">
             
             <ul>
             	<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_copy_link"></a>
</div>
            <!--<li><a href="https://soundcloud.com/health-talks/"><img src="images/health_Talks.png" width="25"/></a></li>
             <li><a href="https://www.linkedin.com/in/thomasafarmer"><img src="images/linkedin.png" width="25"/></a></li>
             <li><a href="https://twitter.com/Healora/"><img src="images/twitter.png" width="25"/></a></li>
             <li><a href="https://www.quora.com/profile/Thomas-Farmer-9"><img src="images/quora.png" width="25"/></a></li>
             <li><a href="https://www.youtube.com/channel/UCQlX_ailOFtsQrDnuFfKuog"><img src="images/youtube.png" width="25"/></a></li>
             </ul> 
             -->
             </div>
			 
			 <br>
			 
             
             <div class="content-box">
              </br>
             <p ng-bind-html="desc"></p>
             <br />
             
             </div>
			 
			 
		<div ng-if="comment.length">	 
				<div ng-repeat="keydata in comment"  class="comnts-sctn">
		           
		           <div class="inner-box">

		              <img height="40" src="images/{{keydata.image}}" />

		           </div>
		           
		           <div class="cmnt-cont">
		              
		              <h4><b>{{keydata.name}}</b></h4>
		              <span class="pull-left"><b>{{keydata.date_created}}</b></span>
		              
		              <br />
		              <p class="mt10">{{keydata.desc}}</p>
		              
		           </div>
		           
		          </div>

          </div>

		  <div class="clr">&nbsp;</div>
		  
		  <div class="comment-form">
          <h1>Leave A Comment</h1>
           
           <div class="col-md-6">
           
           <form class="comment-inner">
           
          <textarea name="message" ng-model="vm.desc" placeholder="Message" cols="100" rows="10"></textarea>
      <div class="clr">&nbsp;</div>
            <div ng-hide="getId != ''" >
           <a  class="button form-send" data-toggle="modal" data-target="#myModal">Send</a>
           </div>

           <div ng-hide="getId == ''">
            <a  class="button form-send" ng-click="addComment()">Send</a>
           </div>

           
           </form>
           
           </div>
            <!--
              ng-model="addComment()"
           
             ng-model="vm.comment"
             ng-click="addComment()"
           -->
         
           
           
          </div>
			 


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <div class= "lgn-inpt w90" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      </div>
      <div class="modal-body">
        <div class="register-mn">
          <div class="container">
            <div class="row">
              <div class="register-cont" style="position: static; width: 480px;">
                <div class="tab-panel">
                  <input id="tab1" type="radio" name="tabs" checked>
                  <label for="tab1">LOGIN</label>
                  <input id="tab2" type="radio" name="tabs">
                  <label for="tab2">SIGNUP</label>
                  <section id="content1">
                    <div class="login">
                      <form id="formlogin" name="form" ng-submit="vm.login()" role="form">
                        <input class="lgn-inpt" required ng-model="vm.uname" type="text" placeholder="Email *">
                        <br> 
                        <input id="password-field1" class="lgn-inpt" required ng-model="vm.password1" type="password" placeholder="Password *">
                        <span toggle="#password-field1" class="toggle-password field-icon"><img class="icn-eye" src="images/eye.png" width="25" /></span>
                        <br>
                        <input class="sign-in-btn" type="submit" value="Sign In">
                      </form>
                    </div>
                  </section>
                  <section id="content2">
                    <div class="signup">
                      <form id="formregister" name="form" ng-submit="vm.register()" role="form">
                       <input class="lgn-inpt" required ng-model="vm.fname" type="text" placeholder="First Name *">
                           <br>
                          <input class="lgn-inpt" required ng-model="vm.lname" type="text" placeholder="Last Name *">
                          <br>
                          <input class="lgn-inpt" required ng-model="vm.email" type="text" placeholder="Email *">
                          <br>
                          <input class="lgn-inpt" ng-model="vm.phone" type="text" placeholder="Phone *">
                          <br>
                          <input id="password-field" class="lgn-inpt" required ng-model="vm.password2" type="password" placeholder="Password *">
                         <span toggle="#password-field" class="toggle-password field-icon"><img class="icn-eye" src="images/eye.png" width="25" /></span>
                          <br>
                          <input class="lgn-inpt" ng-model="vm.promocode" type="text" placeholder="Promo Code">
                          <br>
                          <input class="sign-in-btn clr-2thm" type="submit" value="Sign Up">
                      </form>
                    </div>
                  </section>
                  <a href="#/forgot"> <p class="alrdy-act text-center">Forgot Password</p></a>
                  <!-- <p class="alrdy-act text-center">Already Have Account?</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


			 
          </div>
          
          
          
          
           </div>
           
           
           <div class="col-md-3 rgt-bdetail pull-right">
           
           <h3>Learn More</h3>
           </br>
           <ul>
          <li><a href="#/">Home</a></li>
            <li><a href="#/about">About Us</a></li>
             <li><a href="#/procedure">Procedures</a></li>
              <li><a href="#/faq">FAQ</a></li>
               <li><a href="#/contact">Contact</a></li>
           </ul>
           
           
           <br /><br />


            <h3>Specialities</h3>
           </br>
           <ul>
		    <li><a ng-click="instant('Cardiology')">Cardiology</a></li>
          <li><a ng-click="instant('Dermatology')">Dermatology</a></li>
            <li><a ng-click="instant('ENT')">ENT</a></li>
             <li><a ng-click="instant('Gastroenterology')">Gastroentrology</a></li>
              <li><a ng-click="instant('General Surgery')">General Surgery</a></li>
			    <li><a ng-click="instant('Interventional Radiology')">Interventional Radiology</a></li>
				    <li><a ng-click="instant('Cardiology')">Internal Medicine</a></li>
               <li><a ng-click="instant('Neurosurgery')">Neurosurgery</a></li>
                <li><a ng-click="instant('OBGYN')">OBGYN</a></li>
                 <li><a ng-click="instant('Ophthalmology')">Ophthalmology</a></li>
                  <li><a ng-click="instant('Orthopedics')">Orthopedics</a></li>
                   <li><a ng-click="instant('Plastic Surgery')">Plastic Surgery</a></li>
                    <li><a ng-click="instant('Podiatry')">Podiatry</a></li>
					     <li><a ng-click="instant('Cardiology')">Pain Management</a></li>
                   
                      <li><a ng-click="instant('Urology')">Urology</a></li>
					  
					  
						
					  
           </ul>
           
           
           <br /><br />
           
             <h3>Social Media</h3> 
           <br>
           
           <ul class="blg-rgtscl">
             <li><a href="https://soundcloud.com/health-talks/" target="_blank"><img src="images/health_Talks.png" width="25"/></a></li>
             <li><a href="https://www.linkedin.com/in/thomasafarmer" target="_blank"><img src="images/linkedin.png" width="25"/></a></li>
             <li><a href="https://twitter.com/Healora/" target="_blank"><img src="images/twitter.png" width="25"/></a></li>
             <li><a href="https://www.quora.com/profile/Thomas-Farmer-9" target="_blank"><img src="images/quora.png" width="25"/></a></li>
             <li><a href="https://www.youtube.com/channel/UCQlX_ailOFtsQrDnuFfKuog" target="_blank"><img src="images/youtube.png" width="25"/></a></li>
             </ul> 
           
           
           </div>
            
    </div>
    
    
  </div>
</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>

<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.prioritize = ["linkedin", "twitter", "facebook", "copy_link"];
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->