﻿<div ng-include="'layout/header.view.html'"></div>
div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>






<div class="container">

  <div class="row">
  
  
  
    <div class="col-md-8">
  
  <div class="job-single-sec">
  
     <div class="job-single-head1">
     
      <div class="job-title1"><h3>No Open Jobs.</h3><br><br> <!-- <span class="job-is">Full time</span> --> </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <!-- <div class="job-title1"><h3>Jr. Market Research Analyst:</h3><br><br></div>
      
      <ul class="tags-jobs">
        
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Santa Monica, California</li> -->
        <!-- <li><i class="fa fa-money" aria-hidden="true"></i> Monthly Salary : <span>$3000 - $5000</span></li> -->
       <!--  <li><i class="fa fa-calendar" aria-hidden="true"></i> Post Date: June 1, 2018</li>
        
      </ul> -->
      
      <!-- <span class="roles-div"><strong>Roles</strong> : UX/UI Designer, Web Designer, Graphic Designer</span> -->
       
  <!--    </div>
     
     <div class="job-details">
      
      <h3>Job Description</h3>
     
           <p>Assist CEO with researching conditions in the health insurance market and
utilizing the information to create marketing campaigns. Use Microsoft Word and Excel to create surveys,
opinion polls, and questionnaires based on CEO’s design and specifications, and submit to CEO for review.
Based on the results of said surveys, utilize Microsoft Word and PowerPoint to prepare reports summarizing
healthcare providers’ prices and services and patients’ demographics, income, and healthcare needs. Submit
reports to CEO for review. Assist CEO in analyzing the findings so that he may determine how to modify the
company’s services and products to best suit the needs of the customer base. Assist in designing different
promotional strategies and conducting feasibility studies to determine their practicality and viability. Use Adobe
Photoshop, Adobe Illustrator, and Adobe InDesign to create flyers, posters, and other marketing materials, and
launch social media campaigns under the CEO’s supervision. Under direction of the CEO, assist in measuring
the effectiveness of marketing campaigns. Read trade literature to remain apprised of the latest trends and
developments in the healthcare industry.
       </p>
       
       <h3>Required Knowledge, Skills and Abilities</h3>
       
      <p> The position requires a Bachelor’s degree in Marketing, Communications, or Advertising plus
1 year of experience in the job offered or a related position. Equivalent foreign degrees are acceptable. The
position requires skills and knowledge in Microsoft Word, Microsoft Excel, Microsoft PowerPoint, Adobe
Photoshop, Adobe Illustrator, Adobe InDesign, social media platforms, and feasibility studies. </p>
       
	   
	   <br>
	   
	   <ul>
	     <li>- 40 hours/week</li>
		 <li>- Job Interview Site: Santa Monica, CA.</li>
		 <li>- Email Resume to Kleos Limited DBA Healora at <a class="thm-clr" href="mailto:info@healora.com">info@healora.com</a></li>
	   </ul>
	   
     </div>
      -->
   <!--  <div class="job-overview">
     
       <h3>Job Overview</h3>
     
     <ul>
        
        <li><i class="fa fa-money" aria-hidden="true"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
        <li><i class="fa fa-venus-mars" aria-hidden="true"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
        <li><i class="fa fa-thumb-tack" aria-hidden="true"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
        <li><i class="fa fa-puzzle-piece" aria-hidden="true"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
        <li><i class="fa fa-briefcase" aria-hidden="true"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
        <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
     
     
     </ul>
     
     -->
     </div> 
  
  
  </div>
  
  </div>
  
  </div>

</div>










<div class="clr">&nbsp;</div>

<div ng-include="'layout/footer.view.html'"></div>
