﻿<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>

<div class="clr">&nbsp;</div>

<div class="select-doctor">

<div class="clr">&nbsp;</div>



  <div class="container">
  <h3 class="thm-hd">Reserve Your Price
        <div class="divider"></div>
      </h3>
  
    <div class="row">
      <br />
      
      
      <div class="sctn-reserve col-md-7">
        <div class="img-reverse col-md-3"><img src="images/doctor.png"><!-- <img src="{{displayProcedure.doctor_image}}"> --></div>
        <div class="reserve-cont col-md-7">
          <h3>{{displayProcedure.doctor_title}} {{displayProcedure.doctor_name}}</h3>
          <p class="f18 pt5">{{displayProcedure.doctor_speciality}}</p>
          <p class="f18"><b>Degree :</b> <span>{{displayProcedure.degree_title}}</span></p>
           <p class="f18"><b>Experience :</b> <span>{{displayProcedure.doctor_speciality}}</span></p>
            
        </div>
        
        <div class="clr">&nbsp;</div>

        
         <div class="address">
          
          <h3><b>My Address:</b></h3><br>
          
      <div class="adrs-sctn">    <img src="images/location.png" width="25"></div><div class="adrs-sctn1"><span class="f18" style="margin-top:10px;color:#737373;">{{displayProcedure.address1}}<br>{{displayProcedure.appartment}} {{displayProcedure.address2}}<br> {{displayProcedure.city}} <br> {{displayProcedure.state}}  USA {{displayProcedure.zip}}</span></div></div>
          
         </div>
         
         
         
        
        <div class="col-md-4 pull-right res-left res-float col-xs-12">
           
           <h2 class="mt0 res-mt15">Payment Summary</h2>
           <div class="paymnt-popb mt40 res-mt15">
                            <div class="pb5 thm-text"><h4><b>Due Now: <span class="rf">(Reservation fee)</span></b><span class="pull-right clr-grey">
                            <b>${{displayProcedure.showreservePrice}}</b></span></h4></div>
                            
                            <div class="pb5 rptxt"><h4><b>Amount Due at visit :</b> <span class="pull-right"> ${{displayProcedure.showbalance}}</span></h4></div>
                            <div class="pb5 rptxt"><h4><b>Total Price: </b><span class="pull-right">${{displayProcedure.showtotal}}</span></h4></div>
                            
                            
                             
                             <div class="clr">&nbsp;</div>
                             
                             <div class="col-md-12"><button type="button" class="btn-home proced-btn" data-toggle="modal" data-target="#myModal1">
                             Reserve The Price</button></div>
                             
                             
                             
                    </div>    
        </div>
        
       
        
     
      
      
      
      <!--
      <div class="col-md-4 text-right"> <span class="speciality-active">{{displayProcedure.doctor_speciality}}</span><img src="images/Gastroenterology-Blue.png" width="50"/></div>-->
      
      
      <!--<div class="col-md-12 pb20 select-doctor">
        <div class="col-md-2 pl0"> <img class="img-responsive" src="{{displayProcedure.doctor_image}}" /> </div>
        <div class="col-md-6">
          <h3 class="mt0">{{displayProcedure.doctor_name}}</h3>
          <h4>&nbsp; {{displayProcedure.doctor_speciality}}</h4>
          <span><b>Degree:</b>&nbsp;  {{displayProcedure.doctor_speciality}}</span><br />
          <span><b>Experience:</b>&nbsp;  11yrs</span> <br>
          
          
        <span><b>Total Amount:</b> &nbsp; ${{displayProcedure.total}} </span>-->
          
           </div>
        
      </div>
      
      
      
       
   
        
        
          
         
          
         
        

      
      
      
      
      <div class="container"><div class="row">
      <div class="col-md-12">
       <!-- <div class="col-md-8 fn-rp">{{displayProcedure.doctor_speciality}}</div>-->
      <!--  <div class="col-md-4 rp-btn text-right"> <a href="" data-toggle="modal" data-target="#myModal1">Reserve the price</a> </div>-->
        </div>
      </div></div>

      <div class="clr">&nbsp;</div>



  <div class="modal fade col-md-offset-1" id="myModal1" role="dialog">
        <div class="modal-dialog"> 
          
         
          <div class="modal-content rp-popmn">
            
            <div class="modal-body col-md-12">

   <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
          <img src="images/cancel-btn.png" width="30">
        </button>

              <div class="col-md-6 popup-lft pull-right res-float res-mt15 mt65 col-xs-12">
                  
                  <div class="text-center"> <img src="images/{{displayProcedure.image}}" width="80"></div>
                  
              <div class="paymnt-popb mt40">
              <div class="thm-text"><h4><b>Due Now: <span class="rf">(Reservation fee)</span></b><span class="pull-right clr-grey"><b>${{displayProcedure.showreservePrice}}</b></span></h4></div>
              <div class="rptxt"><h4><b>Amount Due at visit :</b></b> <span class="pull-right">${{displayProcedure.showbalance}}</span></h4></div>
                      <div class="rptxt"><h4><b>Total Price: </b><span class="pull-right">${{displayProcedure.showtotal}}</span></h4></div>
                       
                      
                      
                       
                    </div>

                    <div class="align-center"><a ng-click="reserve()" class="button reserve-btn mt40 col-md-10 res-ml0 col-xs-12">Pay Reservation Fee</a></div>
                
              </div>
 
              <div class="popup-rgt pull-left res-float res-left col-md-6 col-xs-12">

              <div class="f16"><h3 class="f22"><b>{{displayProcedure.catName}}</b></h3>
              <p><b>CPT :</b> <span>{{displayProcedure.cpt}}</span>&nbsp; <b>SKU :</b> <span>{{displayProcedure.sku}}</span></p>
              
              <p>wih <b>{{displayProcedure.doctor_title}} {{displayProcedure.doctor_name}}</b></p>
              
              </div>

                    <div class="paymnt-popm">

                            <ul>
             <li ng-repeat="getRep in covered"><div class="mr10 pop-icn"><img src="images/tick.png" width="20"> </div><div class="pop-text"> {{getRep.data}} </div></li>
                            </ul>

                    </div>


      

               </div>
            
            
           
            
             <br />
            </div>
          </div>
        </div>
      </div> 










  <!--<div class="modal fade col-md-offset-1" id="myModal1" role="dialog">
        <div class="modal-dialog"> 
          
         
          <div class="modal-content rp-popmn">
            <div class="modal-header">
            
              <h4 class="modal-title">Receipt for Healora</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body rp-pop">
              <div class="popup-lft">
                  
            <h4><b>{{displayProcedure.shortName}}</b></h4>
            
            <p>CPT : {{displayProcedure.cpt}}<br />SKU : {{displayProcedure.sku}}<br /><b>with {{displayProcedure.doctor_name}}, {{displayProcedure.degree_title}}</b></p>
            
                <ul>
                  <li>
                    <div style="display: table-cell;vertical-align: top;"><img src="images/wallet.png" width="30"> </div>
                    <div style="display: table-cell;"> <b> Total Amount<br />
                      &nbsp;${{displayProcedure.total}}</b></div>
                  </li>
                </ul>
                <br />
                
              
                
              </div>
            
            <div class="text-center"><a ng-click="reserve()" class="button select-btn mt10">Pay The Reservation Fees</a></div>
           
            
           <br />
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div ng-include="'layout/footer.view.html'"></div>