/*HOME PAGE*/
.btn-complete.active{background:#e06c07;}
.p-l-0{padding-left:0 !important;}
.online{height:10px;width:10px;border-radius:50%;background:green;display:inline-block;vertical-align:top;margin-top:5px;}
.custom-nav{border-bottom:1px solid #ccc;padding-top:12px;text-align:center;}
.list-view-group-container1{    margin: 0;
    min-height: 1px;
    overflow: hidden;
    padding: 0 0 0 0;
    position: relative;}
.email-overflow1{overflow-y:Scroll !important;height:300px !Important;}
.padding25{padding:25px 25px 0 25px;}
.custom-border{border:1px solid rgba(0,0,0,0.07);}
.whatsapp-icon>i{font-size:19px !important;}
.envelope-point{top:-2px !important}
	.envelope-heartbit{top:-12px !important;}
	.custom-logincb::after{left:0.5px !important;}
.point{    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fb9678;
    position: absolute;
    right: -3px;
    top: 0;}

heartbit{0%{-moz-transform:scale(0);opacity:0}25%{-moz-transform:scale(.1);opacity:.1}50%{-moz-transform:scale(.5);opacity:.3}75%{-moz-transform:scale(.8);opacity:.5}100%{-moz-transform:scale(1);opacity:0}}@-webkit-keyframes heartbit{0%{-webkit-transform:scale(0);opacity:0}25%{-webkit-transform:scale(.1);opacity:.1}50%{-webkit-transform:scale(.5);opacity:.3}75%{-webkit-transform:scale(.8);opacity:.5}100%{-webkit-transform:scale(1);opacity:0}}



.heartbit{position: absolute;
    top: -10px;
    right: -13px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #fb9678;
   border-radius: 70px;
  -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;}

.prblm-div{display:none !important;}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 10px 8px 6px rgba(223,223,223,1);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #113242;
  outline: 1px solid slategrey;
}
.dropzone1 .dz-default.dz-message{background-position:0 -292px;}
.menuclipper{width:100%;}.menuclipper .menuclipper-menu{display:table;}.menuclipper-menu>li{display:table-cell;padding:0 29px !important;white-space:nowrap;}



.custom-tablehd{width:100%;}
.custom-tablehd tbody{height:200px;overflow-y:auto;width:100%;}

.custom-tablehd thead,
.custom-tablehd tbody,
.custom-tablehd tr,
.custom-tablehd td
.custom-tablehd th{display:block;text-align:left;line-height:21px !important;font-size:12px !important;}

.table.custom-tablehd>tbody>tr>td, .table>tbody>tr>th {line-height:21px !important;font-size:12px !important;}



.custom-tablehd tbody td{float:left;}

.custom-tablehd thead tr th{float:left;}

/*
.custom-tablehd thead,tbody,tr{
    display:block;   
  }
  
.custom-tablehd thead th{
    float:left;
  }
  
  
.custom-tablehd tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }



*/


.active-menu{background:#f57b10 !important;color:#fff !important;}
.custom-ul{padding:20px !important;}
.custom-ul li{border-right:1px solid #ccc;}
.size17{font-size:20px;}
.custom-inner{max-height:255px;height:255px !important;min-height:255px !important;overflow-y:scroll !important;}
.navbar-inner div.custom-heading{text-align:center !important;display:inline-block !important;}
.email-overflow{overflow-y:scroll !important;height:260px !important;}
.padding-email{padding:0 25px;}
.clearfix{list-style-type:none;}
.m-p{margin:0;padding:0;}
.padding-sms{padding:10px 25px 0 25px;}
.p-t-40{padding-top:40px;}
.sticky textarea  { 
	display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:100%;
	height:100%;   
	font:18px 'Montserrat'; 
	line-height:1.5;
	border:0;
	border-radius:3px;
	-webkit-linear-gradient(#d8d8d8, #e0e0e0)
	background: -webkit-linear-gradient(#d8d8d8, #e0e0e0);
	background: -moz-linear-gradient(#d8d8d8, #e0e0e0);
	background: -o-linear-gradient(#d8d8d8, #e0e0e0);
	background: -ms-linear-gradient(#d8d8d8, #e0e0e0);
	background: linear-gradient(#d8d8d8, #e0e0e0);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:100%;
	max-height:100%;
}

.sticky textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.sticky textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }
 .custom-hd{background-color:#e8e7e7;}
 .no-border{border:1px solid #ccc !important;}
  .no-border1{border:1px solid #ccc !important;}
/*.custom-bg{ background:#fff; }
.custom-bg .text-success {color:#000 !important;}
.custom-bg .semi-bold{color:#000 !important;}
 .custom-hd{background-color: #9ea3bd;color:#000 !important;}
  .custom-hd th{color:#000 !important;}
 .tbl-header{width:100%;  table-layout: fixed;}
 .tr-bg tr td{background:#b7bacb !important;color:#000 !important;}
 .table.table-hover tbody.tr-bg tr:hover td{background:#9ea3bd !important;}
tbody.tr-bg tr{border-left:1px solid #cbcdd4;}
.card-block ul{padding-left:0 !important;margin-left:0;}


.bg-white .card-block h5{margin:0;}
.bg-white{background:#fff;}
.bg-success1{background:#10cfbd !important;}*/

.unread{background:#f4f3f3 !important;}
.unread:hover{background:transparent !important;}

table tr.unread{background:red !important;}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
	
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
	/*background:#48b0f7;*/
}
 