{% load staticfiles %}
<html>
<head>
<style type = "text/css">
body{
    text-decoration:none;
    font-family: 'Exo',sans-serif;
}
#site_title_bar , #footer{
	/*width: 1100px;*/
	height: 40px;
	margin-top:-10px;
	margin-left:-10px;
	text-align: left;
 
	/*For making content unselectable*/	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    background:#04caa9;
}
</style>
</head>
<body>
<div id = "site_title_bar">
</div>
<div style="margin-left:5px;">
<br/>
<a href="/" alt="home" title="home"><img src = "{% static 'images/logo.png' %}" width = "180px" height = "50px" /></a><br/><br/><br/>
{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Please specify email address of the user to send instructions for resetting his/her password.</p>
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}
</div>
</body>
</html>
