{% extends 'includes/base.html' %}
{% load staticfiles %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1 class="pull-left">
    Procedure
    </h1>
   
    
    <div>&nbsp;<div>    
          
          
  <!--  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>-->
 
   
  </section>
      <div>&nbsp;</div>
        <div>&nbsp;</div>
      {% if form.errors %}
            
            {% for error in form.non_field_errors %}
                <div class="new-alert alert-error alert-dismissable">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
      <!-- Main content -->
     <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <form method="post" class="form-horizontal">
                    <div class="box-body">     
                        {% csrf_token %}
                        <input type="hidden" value="{{ idkey }}" name="userid">
                        {% for field in form %}

                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="{{ field.name }}">{{ field.label }}</label>

                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>

                        {% endfor %}
                        {% for field in form1 %}

                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="{{ field.name }}">{{ field.label }}</label>

                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>

                        {% endfor %}
                        
                      
                        
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" value="submit" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script>
                        $(function () {
                            $("#dob").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "1910:1997",
                                dateFormat: "yy-mm-dd",
                                defaultDate: '1990-01-01',
                                maxDate: '-18Y',
                            });
                        });
                        
                        
                        
    </script>
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
{% endblock %}