{% extends 'includes/base.html' %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1 class="pull-left">
    Plan
    </h1>
   
    
    <div>&nbsp;<div>    
          
          
  <!--  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>-->
 
   
  </section>
      <div>&nbsp;</div>
        <div>&nbsp;</div>

      <!-- Main content -->
     <div class="row">
        <div class="col-xs-12">
            <div class="box">


                    <div class="box-body">     
                       
                    <form action="/plan_create" role="form" method="post" class="form-horizontal" >
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="plan_name">Plan Name *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="plan_name"  type="text" placeholder="Plan Name" required = "true" name="plan_name" value=""/>
                    </div>
                </div>
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="fname">Price *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="price"  type="text" placeholder="Price" required = "true" name="price" value=""/>
                    </div>
                </div>
                    <div class="form-group">
                            <label class="col-sm-1 control-label" for="plan_detail">Plan Detail *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="plan_detail"  type="text" placeholder="Plan Detail" required = "true" name="plan_detail" value=""/>
                            </div>
                        </div>
                    <div class="form-group">
                            <label class="col-sm-1 control-label" for="speed">Speed *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="speed"  type="text" placeholder="Speed" required = "true" name="speed" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="action_count">Action Count *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="action_count"  type="text" placeholder="Action Count" required = "true" name="action_count" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="max_follow">Max Follow *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="max_follow"  type="text" placeholder="Max Follow" required = "true" name="max_follow" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="max_like">Max Like *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="max_like"  type="text" placeholder="Max Like" required = "true" name="max_like" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="engagement">Engagement *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="engagement"  type="text" placeholder="Engagement" required = "true" name="engagement" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="managed">Managed *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="managed"  type="text" placeholder="Managed" required = "true" name="managed" value=""/>
                            </div>
                        </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    </div>
                </form>
                      
                        
                    
            </div>
        </div>
    </div>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">
      
    <script>
                        $(function () {
                            $("#dob").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "1910:1997",
                                dateFormat: "yy-mm-dd",
                                defaultDate: '1990-01-01',
                                maxDate: '-18Y',
                            });
                        });
                        
                        
                        
    </script>
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
{% endblock %}