{% extends 'includes/base.html' %}

{% block content %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">

<script type="text/javascript">
/* Custom filtering function which will search data in column four between two values */
  
  
  $(document).ready(function(){  
      $('#example').DataTable({  
           "ajax"     :   "/datatable/plans/",  
           "columns"     :     [  
                {     "data"     :     "plan_name"     },  
                {     "data"     :     "price"     },  
                {     "data"     :     "date_updated"}, 
                {     "data"     :     "actions"} 
           ]  
      });  
 });
  function deletePlan(item_id){
    if(confirm('Are you sure?')){
    $.ajax({
        
        url: "/plans",
        type: "DELETE",
        data:{_id:item_id},
        dataType: "json",
        beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
        }, 
      success: function(response) {
              alert(response.message);
             //prepareDataTable();
             $('#example').DataTable().ajax.reload();
             // $('.messageShow').css('visibility','visible');
             //    setTimeout(function () {
             //           $('.messageShow').css('visibility','hidden')
             //        }, 3000);
             // //prepareDataTable();
             // $("#example").dataTable().fnDraw();
        },
        
    })
  }
  }
  
</script>
<style type="text/css">
  tfoot {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.rmove-brdr{box-shadow:none !important;border:0 !important;}

</style>
 <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
      <section class="content-header">
    <h1 class="pull-left">
   Plans
    </h1>
    <div>&nbsp;</div>   
    <h3 class="box-title">
    <a class=" pull-right btn btn-danger btn-sm detail-butoon" href="/plan_create" title="Add Procedure">Add New</a>
    {% if addPermission == 1 %}
    {% endif %}
    </h3>       
        
   <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/plans">Plans</a></li>
      </ol>
 
   
  </section>
      <!-- Main content -->
      <section class="content">
    
    <div class="row">
      <div class="col-xs-12">

        <!-- There's a flash-scoped object under the 'message' key -->
         
       <div class="alert alert-success alert-dismissable messageShow">
            <p>Plan Deleted Successfully</p>
        </div>
   
        <div class="box">
         <div class="box-header">
         <div id="button-holder"></div>
         <table id="example" class="datatable datpicker-clr" width="100%">  
              
                     <thead>  
                          <tr>  
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date Updated</th>
                    <th>Actions</th>
                          </tr>  
                     </thead>  
                </table>
                     
                    </div>
          <div class="box-body table-responsive">

          </div>
        </div><!-- /.box -->
      </div>
      
    </div>
    </section>
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
 
{% endblock %}

