{% extends 'includes/base.html' %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
      <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1 class="pull-left">
    Add User
    </h1>
   
    
    <div>&nbsp;<div>    
          
          
  <!--  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>-->
 
   
  </section>
      <div>&nbsp;</div>
        <div>&nbsp;</div>

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="new-alert alert-error alert-dismissable">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
      <!-- Main content -->
     <div class="row">
        <div class="col-xs-12">
            <div class="box">

         
                <div class="box-body">     
                       
                    <form action="/user_create" role="form" method="post" class="form-horizontal" >
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="first_name">First Name *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="first_name"  type="text" placeholder="First Name" required = "true" name="first_name" value=""/>
                    </div>
                </div>
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="last_name">Last Name *</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="last_name"  type="text" placeholder="last_name" required = "true" name="last_name" value=""/>
                    </div>
                </div>
                    <div class="form-group">
                            <label class="col-sm-1 control-label" for="email">Email *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="email"  type="text" placeholder="Email" required = "true" name="email" value=""/>
                            </div>
                        </div>
                    <div class="form-group">
                            <label class="col-sm-1 control-label" for="user_name">User Name *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="user_name"  type="text" placeholder="Use Name" required = "true" name="user_name" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="phone">Phone *</label>

                            <div class="col-sm-10">
                                <input class="form-control" id="phone"  type="text" placeholder="Phone" required = "true" name="phone" value=""/>
                            </div>
                        </div>
                        
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                    </div>
                        
                    
            </div>
        </div>
    </div>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">
    <script>
                        $(function () {
                            $("#dob").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "1910:1997",
                                dateFormat: "yy-mm-dd",
                                defaultDate: '1990-01-01',
                                maxDate: '-18Y',
                            });
                        });
                        
                        
                        
    </script>
      <!-- /.content -->
  
  <!-- /.content-wrapper -->
{% endblock %}